									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<br/>											
                                            <h4>Current Status of Application ID  : {{learner_app.pk}}</h4>
											<br/><br/>
                                        </div>
									</div>
									<div class="extra_space"></div>
									<br/>
									<div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
											<table class="status_table">
												<tr>
													<td>
														{% if learner_app.flag >= 0 %}
															<p class="status_bar" style="background:rgb(41,142,154);"></p>
														{% endif %}
													</td>
													<td>
														{% if learner_app.flag >= 1 %}
															<p class="status_bar" style="background:rgb(29,182,151);"></p>
														{% else %}
															<p class="status_bar" style="background:rgba(29,182,151,0.2);"></p>
														{% endif %}
													</td>
													<td>
														{% if learner_app.flag >= 2 %}
															<p class="status_bar" style="background:rgb(24,186,89);"></p>
														{% else %}
															<p class="status_bar" style="background:rgba(24,186,89,0.2);"></p>
														{% endif %}
													</td>
													{% if learner_app.flag == 3 %}
													<td>
														{% if learner_app.flag == 3 %}
															<p class="status_bar" style="background:rgb(207, 13, 13);"></p>
														{% else %}
															<p class="status_bar" style="background:rgba(207, 13, 13, 0.2);"></p>
														{% endif %}
													</td>
													{% else %}
													<td>
														{% if learner_app.flag >= 4 %}
															<p class="status_bar" style="background:rgb(123, 197, 18);"></p>
														{% else %}
														<p class="status_bar" style="background:rgba(123, 197, 18,0.2);"></p>
														{% endif %}
													</td>
													<td>
														{% if learner_app.flag >= 5 %}
															<p class="status_bar" style="background:rgba(236, 233, 20, 0.877);"></p>
														{% else %}
															<p class="status_bar" style="background:rgba(236, 233, 20, 0.2);"></p>
														{% endif %}
													</td>
													<td>
														{% if learner_app.flag == 6 %}
															<p class="status_bar" style="background:rgba(228, 133, 10, 0.938);"></p>
														{% else %}
															<p class="status_bar" style="background:rgba(228, 133, 10, 0.2);"></p>
														{% endif %}
													</td>
													{% endif %}
												</tr>	
												<tr>
													<td>
														{% if learner_app.flag == 0 %}
															<p class="report_status">
																{{learner_app.application_status}}
															</p>
														{% else %}
															<p class="report_status">&nbsp;</p>
														{% endif %}
													</td>
													<td>
														{% if learner_app.flag == 1 %}
															<p class="report_status">
																{{learner_app.application_status}}
															</p>
														{% else %}
															<p class="report_status">&nbsp;</p>
														{% endif %}
													</td>
													<td>
														{% if learner_app.flag == 2 %}
															<p class="report_status">
																{{learner_app.application_status}}
															</p>
														{% else %}
															<p class="report_status">&nbsp;</p>
														{% endif %}
													</td>
													{% if learner_app.flag == 3 %}
													<td>
														{% if learner_app.flag == 3 %}
															<p class="report_status">
																{{learner_app.application_status}}
															</p>
														{% else %}
															<p class="report_status">&nbsp;</p>
														{% endif %}
													</td>
													{% else %}
													<td>
														{% if learner_app.flag == 4 %}
															<p class="report_status">
																{{learner_app.application_status}}
															</p>
														{% else %}
															<p class="report_status">&nbsp;</p>
														{% endif %}
													</td>
													<td>
														{% if learner_app.flag == 5 %}
															<p class="report_status">
																{{learner_app.application_status}}
															</p>
														{% else %}
															<p class="report_status">&nbsp;</p>
														{% endif %}
													</td>
													<td>
														{% if learner_app.flag == 6 %}
															<p class="report_status">
																{{learner_app.application_status}}
															</p>
														{% else %}
															<p class="report_status">&nbsp;</p>
														{% endif %}
													</td>
													{% endif %}
												</tr>
											</table>
										</div>
									</div>
									<br/><br/>
									<div class="row">
                                        <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
											Status:
                                        </div>
                                        <div class="col-lg-4 col-md-8 col-sm-12 text-main">
                                            {{learner_app.application_status}}
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
                                            Submitted on :
                                        </div>
                                        <div class="col-lg-4 col-md-8 col-sm-12 text-main">
                                            {{learner_app.apply_time}}
                                        </div>
                                    </div>
									<div class="extra_space"></div>
									<div class="row">
                                        <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
                                            Name :
                                        </div>
                                        <div class="col-lg-4 col-md-8 col-sm-12 text-main">
                                            {{learner_app.name}}
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
                                            Contact No :
                                        </div>
                                        <div class="col-lg-4 col-md-8 col-sm-12 text-main">
                                            {{learner_app.contact_no}}
                                        </div>
                                    </div>
                                    <div class="extra_space"></div>
                                    <div class="row">
										<div class="col-lg-2 col-md-4 col-sm-12 text-heading">
                                            Permanent Address :
                                        </div>
                                        <div class="col-lg-4 col-md-8 col-sm-12 text-main">
                                            {{learner_app.permanent_address|linebreaks}}
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
                                            Present Address :
                                        </div>
                                        <div class="col-lg-4 col-md-8 col-sm-12 text-main">
                                           {% if learner_app.present_address == '' %} N/A {% else %} {{learner_app.present_address|linebreaks}} {% endif %}
                                        </div>
									</div>
									{% if flag == 1 %}
										<div class="extra_space"></div>
										<div class="row">
											<div class="col-lg-2 col-md-4 col-sm-12 text-heading">
												Driving License No :
											</div>
											<div class="col-lg-4 col-md-8 col-sm-12 text-main">
												{{license_no}}
											</div>
											<div class="col-lg-2 col-md-4 col-sm-12 text-heading">
												Issued On :
											</div>
											<div class="col-lg-4 col-md-8 col-sm-12 text-main">
												{{issued_on}}
											</div>
										</div>
									{% endif %}
                                    <div class="extra_space"></div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-5 col-sm-12 text-heading">
                                            National Id Card No :
                                        </div>
                                        <div class="col-lg-9 col-md-7 col-sm-12 text-main">
                                            {{learner_app.national_id}}
                                        </div>
                                    </div>
									
                                    <div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<br/><br/>
											<div class="text-right">
												<button type="button" class="btn btn-primary another_button">View Another</button>
											</div>
											<br/>
										</div>							
                                    </div>