{% extends "bus_main/base.html" %}

{%block title%}Nirapod Bus App {%endblock%}

{% block style %}
		<style>
			body{
				min-height:100vh;
				/*background:url({{maintheme_server}}/img/cu_library.jpg) no-repeat;
				background-size:cover;
				background-position:center center;
				background-attachment:fixed;*/
			}
			.shadow-with-white{
				box-shadow:0px 2px 6px 0px rgba(163,218,101,1);
				box-shadow:0px 2px 6px 0px rgba(52,160,180,1);
			}
			h4{
				color:rgb(33,124,97);
				color:rgb(35,102,135);
				text-align:center;
				text-shadow:1px 1px 0px rgba(33,124,90,0.1);
			}
			.form-group label{
				color:rgb(43,115,112);
				font-size:1.2em;
			}
			.form-control, .form-control:focus, .form-control:hover{
				border:none;
				outline:none;
				box-shadow:none;
				border:solid 1px rgba(35,102,135,0.3);
			}
			@font-face{
				src:url(/static/fonts/kalpurush.ttf);
				font-family:kalpurush;
				unicode-range: U+980-9FF;
			}
			.bangla{
				font-family:kalpurush;
			}
			.form-control:focus{
				border:solid 1px rgba(35,102,135,0.8);
			}
			.form-control{
				width:90%;
			}
			.submit_button, .submit_button:focus, .submit_button:hover,
				.another_button, .another_button:focus, .another_button:hover{
					color:white !important;
					font-size:1.1em;
					border:none;
					border:solid 1px rgba(56,141,116,0.1) !important;
					border-bottom:solid 1px rgb(56,141,116);
					background:linear-gradient(to right, rgb(37,115,129), rgba(52,164,184,1)) !important;
					box-shadow:0px 3px 4px 0px rgba(52,164,184,0.6) !important;
					outline:none !important;
			}
			#id_admit_name{
				color:rgb(36,96,92);
			}
			#driver_image, #signature, #apply_form, #learner_license{
				display:none;
			}
			label[for="driver_image"], label[for="signature"], label[for="apply_form"],label[for="learner_license"]{
				font-size:1em;
				color:white;
				padding:6px 24px;
				border-radius:14px;
				background:linear-gradient(to right, rgb(55,138,114), rgb(73,182,149));
				background:linear-gradient(to right, rgb(37,115,129), rgba(52,164,184,1)) !important;
				box-shadow:0px 3px 4px 0px rgba(51,125,40,0.6);
				box-shadow:0px 3px 4px 0px rgba(52,164,184,0.6);
			}
			
			.progress-bar{
				width:0%;
				height:5px;
				margin:0px;
				padding:0px;
				border-radius:6px;
				background:linear-gradient(to right, #08b38d, #3869a8);
			}
			
			#success_div{
				display:none;
			}
			
			#tracking_id, #tracking_code{
				font-weight:bold;
			}
			
			@keyframes animateMessage{
				0%{
					right:-370px;
					transform:scale(0.8);
				}
				10%{
					right:-30px;
					transform:scale(0.8);
				}	
				15%{
					right:20px;
					transform:scale(1);
				}
				85%{
					right:20px;
					transform:scale(1);
				}
				90%{
					right:-30px;
					transform:scale(0.8);
				}	
				100%{
					right:-370px;
					transform:scale(0.8);
				}
			}
			
			.showMessage{
				width:300px;
				font-size:1.1em;
				text-align:center;
				padding:24px;
				background:white;
				border-radius:4px;
				border-left:solid 3px rgb(55,133,129);
				box-shadow:0px 2px 6px 0px rgba(13,40,70,0.8);
				position:fixed;
				right:-370px;
				bottom:14px;
				z-index:99999;
				transform:scale(0.8);	
			}
			
			label[for="user_1"], label[for="user_2"], label[for="user_3"]{
				color:rgb(35,111,124);
				cursor:pointer;
			}
			
			td{
				font-size:1.3em;
			}
			
			.c_left{
				width:95%;
				color:rgba(0,0,0,0.5);
				text-align:right;
				margin:0px;
				padding:0px;
			}
			textarea {
				resize: none;
			}
			
			@media only screen and (max-width: 1023px) {
				.form-control{
					width:100%;
				}
			}
		</style>
{% endblock  %}

{% block content %}
	
	<div class="showMessage"></div>
	
	<br/>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-md-12 col-sm-12"></div>
				<div class="col-lg-8 col-md-12 col-sm-12">
					<div class="shadow-with-white">
						<div id="submit_div">
							<h4>Driving License Application Form</h4>
							<br/><br/>
							<form class="apply_form">
								{% csrf_token %}
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										&nbsp;
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="form-group">
											<label for="application">Application ID</label>
											<input type="number" class="form-control" min="0" step="1" id="application" name="application" placeholder="enter your learner application id...">
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="form-group">
											<label for="code">Tracking Code </label>
											<input type="text" class="form-control" id="code" name="code" placeholder="enter tracking code...">
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="form-group">
											<label for="license_no">Learner License No.</label>
											<input type="number" min="0" step="1" name="license_no" class="form-control" id="license_no" placeholder="enter your learner license no...">
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<br/>
											<label for="driver_image">Image of the Person (jpg/png/gif within 5MB)</label>
											&nbsp;&nbsp;&nbsp;
											<span id="id_admit_name"></span>
											<input type="file" class="form-control" id="driver_image"  name="driver_image" />
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<br/>
											<label for="signature">Driver Signature Image (jpg/png/gif within 5MB)</label>
											&nbsp;&nbsp;&nbsp;
											<span id="testimonial_name"></span>
											<input type="file" class="form-control" id="signature" name="signature" />
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<br/>
											<label for="apply_form">Image of Driving License Application Form (jpg/png/gif within 5MB)</label>
											&nbsp;&nbsp;&nbsp;
											<span id="apply_form_name"></span>
											<input type="file" class="form-control" id="apply_form" name="apply_form" />
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<br/>
											<label for="learner_license">Scan Copy of Learner License (jpg/png/gif within 5MB)</label>
											&nbsp;&nbsp;&nbsp;
											<span id="learner_license_name"></span>
											<input type="file" class="form-control" id="learner_license" name="learner_license" />
										</div>
									</div>
									
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<p class="showPercentage"></p>
											<p class="progress-bar"></p>
										</div>
									</div>
								</div>
								<br/>
								<div class="text-right">
									<button type="button" class="btn btn-primary submit_button">Submit</button>
								</div>
								<br/>
							</form>
						</div>
						<div id="success_div">
							<h4>Success!</h4>
							<br/><br/>
							<div class="col-lg-12 col-md-12 col-sm-12">
									<p style="font-size:1.3em;">
										Thank you, Your application has been recorded successfully.
									</p>
									<br/>
									<div class="text-right">
										<button type="button" class="btn btn-primary another_button">Submit Another</button>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	 
	<br/><br/><br/><br/><br/>
	 
{% endblock %}

{% block script %}
	<script>
	
		function showMessage(message){
			$(".showMessage").css("animation","none");
			setTimeout(function(){
					$(".showMessage").html(message)
				.css("animation","animateMessage 6s forwards");
			},300);
		}

		
		$(document).ready(function(){
		
			$('input[type="text"], input[type="number"]').attr("autocomplete","off");
		
			var uploading=false;
			
			$(".another_button").click(function(){
				$("#success_div").slideUp(400);
				$("#submit_div").slideDown(500);
				$("#tracking_id, #tracking_code").text("");
				window.location.replace(location.href);
			});
			
			$(".submit_button").click(function(){
				var application_id = $.trim($("#application").val());
				if(application_id.length==0){
					$("#application").focus();
					showMessage("Please enter your learner application id");
					return;
				}
				var tracking_code = $.trim($("#code").val());
				if(tracking_code.length==0){
					$("#code").focus();
					showMessage("Please enter your tracking code");
					return
				}
				var license_no = $.trim($("#license_no").val());
				if(license_no.length==0){
					$("#license_no").focus();
					showMessage("Please enter your learner license no.");
					return;
				}
				if($("#driver_image")[0].files.length==0 || $("#driver_image").val()==""){
					showMessage("Please select photo of yours");
					return;
				}
				if($("#signature")[0].files.length==0 || $("#signature").val()==""){
					showMessage("Please select photo of your Signature");
					return;
				}
				if($("#apply_form")[0].files.length==0 || $("#apply_for").val()==""){
					showMessage("Please select photo of your Application form");
					return;
				}
				if($("#learner_license")[0].files.length==0 || $("#learner_license").val()==""){
					showMessage("Please select photo of your learner license");
					return;
				}
				if(uploading){
					return;
				}
					uploading=true;
						$.ajax({
							   url: "{% url 'bus:apply-driving-license' %}",
							   type: "POST",
							   data: new FormData($(".apply_form")[0]),
							   contentType: false,
							   cache: false,
							   processData:false,
							   xhr: function() {
									var xhr = new XMLHttpRequest();
									xhr.upload.addEventListener("progress", function(e) {
										if (e.lengthComputable) {
											var uploadpercent = e.loaded / e.total;
											uploadpercent = (uploadpercent * 100);
											$(".showPercentage").html(Math.round(uploadpercent * 100) / 100+"%");
											$('.progress-bar').css({
												"width":uploadpercent+"%"
											});
										}
									}, false);
									return xhr;
								},
								success: function(data){
									uploading = false;									
									if(data.status=="1"){
										$("input,textarea, select").val("");
										$("#id_admit_name, #testimonial_name, #apply_form_name").text("");
										$("#submit_div").slideUp(400);
										$("#success_div").slideDown(500);
									}else if(data.status=="4"){
										$("#application").focus();
										showMessage("Please enter your application id");
									}else if(data.status=="5"){
										$("#code").focus();
										showMessage('Please enter your tracking code');
									}else if(data.status=="6"){
										$("#license_no").focus();
										showMessage("Please enter your license no.");
									}else if(data.status=="7"){
										showMessage("Sorry, Your credentials do not match");
									}else if(data.status=="8"){
										showMessage("Sorry, This person hasn't passed the driving license exam yet");
									}else if(data.status=="8"){
										showMessage("Sorry, You have already applied for driving license");
									}
									else{
										showMessage("Sorry, an error occured");
									}									
									$(".showPercentage").html("");
									$(".progress-bar").css("width","0%");
								},
								error: function(e){
									uploading = false;
									$(".showPercentage").html("");
									$(".progress-bar").css("width","0%");
								}
							});
			});
			
			$("#driver_image").change(function(){
				let id_card = $(this)[0].files;
				let id_extension = id_card[0].name.split(".");
				id_extension = id_extension[id_extension.length-1];
				if(id_extension.toLowerCase()!="jpg" && id_extension.toLowerCase()!="jpeg" && id_extension.toLowerCase()!="png" && id_extension.toLowerCase()!="gif"){
					showMessage("Please select a jpg, jpeg, png or gif file");
					$(this).val("");
					$("#id_admit_name").text("");
					return;
				}
				$(".showMessage").css({
					"right":"-370px !important",
					"animation":"none"
				});
				if(id_card.length>0){
					$("#id_admit_name").text(id_card[0].name);
				}
			});
			$("#signature").change(function(){
				let id_card = $(this)[0].files;
				let id_extension = id_card[0].name.split(".");
				id_extension = id_extension[id_extension.length-1];
				if(id_extension.toLowerCase()!="jpg" && id_extension.toLowerCase()!="jpeg" && id_extension.toLowerCase()!="png" && id_extension.toLowerCase()!="gif"){
					showMessage("Please select a jpg, jpeg, png or gif file");
					$(this).val("");
					$("#testimonial_name").text("");
					return;
				}
				$(".showMessage").css({
					"right":"-370px !important",
					"animation":"none"
				});
				if(id_card.length>0){
					$("#testimonial_name").text(id_card[0].name);
				}
			});
			$("#apply_form").change(function(){
				let id_card = $(this)[0].files;
				let id_extension = id_card[0].name.split(".");
				id_extension = id_extension[id_extension.length-1];
				if(id_extension.toLowerCase()!="jpg" && id_extension.toLowerCase()!="jpeg" && id_extension.toLowerCase()!="png" && id_extension.toLowerCase()!="gif"){
					showMessage("Please select a jpg, jpeg, png or gif file");
					$(this).val("");
					$("#apply_form_name").text("");
					return;
				}
				$(".showMessage").css({
					"right":"-370px !important",
					"animation":"none"
				});
				if(id_card.length>0){
					$("#apply_form_name").text(id_card[0].name);
				}
			});
			$("#learner_license").change(function(){
				let id_card = $(this)[0].files;
				let id_extension = id_card[0].name.split(".");
				id_extension = id_extension[id_extension.length-1];
				if(id_extension.toLowerCase()!="jpg" && id_extension.toLowerCase()!="jpeg" && id_extension.toLowerCase()!="png" && id_extension.toLowerCase()!="gif"){
					showMessage("Please select a jpg, jpeg, png or gif file");
					$(this).val("");
					$("#learner_license_name").text("");
					return;
				}
				$(".showMessage").css({
					"right":"-370px !important",
					"animation":"none"
				});
				if(id_card.length>0){
					$("#learner_license_name").text(id_card[0].name);
				}
			});
			
		});
	
	</script>
{% endblock %}