<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <br/>											
        <h4>Current Status of Fitness Application ID  : {{fitness_app.pk}}</h4>
        <br/><br/>
    </div>
</div>
<div class="extra_space"></div>
<br/>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="status_table">
            <tr>
                <td>
                    {% if fitness_app.flag >= 0 %}
                        <p class="status_bar" style="background:rgb(41,142,154);"></p>
                    {% endif %}
                </td>
                <td>
                    {% if fitness_app.flag >= 1 %}
                        <p class="status_bar" style="background:rgb(29,182,151);"></p>
                    {% else %}
                        <p class="status_bar" style="background:rgba(29,182,151,0.2);"></p>
                    {% endif %}
                </td>
                <td>
                    {% if fitness_app.flag >= 2 %}
                        <p class="status_bar" style="background:rgb(24,186,89);"></p>
                    {% else %}
                        <p class="status_bar" style="background:rgba(24,186,89,0.2);"></p>
                    {% endif %}
                </td>
                <td>
                    {% if fitness_app.flag == 3 %}
                        <p class="status_bar" style="background:rgb(8, 221, 19);"></p>
                    {% else %}
                        <p class="status_bar" style="background:rgba(8, 221, 19, 0.2);"></p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    {% if fitness_app.flag == 0 %}
                        <p class="report_status">
                            {{fitness_app.application_status}}
                        </p>
                    {% else %}
                        <p class="report_status">&nbsp;</p>
                    {% endif %}
                </td>
                <td>
                    {% if fitness_app.flag == 1 %}
                        <p class="report_status">
                            {{fitness_app.application_status}}
                        </p>
                    {% else %}
                        <p class="report_status">&nbsp;</p>
                    {% endif %}
                </td>
                <td>
                    {% if fitness_app.flag == 2 %}
                        <p class="report_status">
                            {{fitness_app.application_status}}
                        </p>
                    {% else %}
                        <p class="report_status">&nbsp;</p>
                    {% endif %}
                </td>
                <td>
                    {% if fitness_app.flag == 3 %}
                        <p class="report_status">
                            {{fitness_app.application_status}}
                        </p>
                    {% else %}
                        <p class="report_status">&nbsp;</p>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>
<br/><br/>
<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
        Status:
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-main">
        {{fitness_app.application_status}}
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
        Submitted on :
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-main">
        {{fitness_app.apply_time}}
    </div>
</div>
<div class="extra_space"></div>
<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
        Name :
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-main">
        {{fitness_app.name}}
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
        Contact No :
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-main">
        {{fitness_app.contact_no}}
    </div>
</div>
<div class="extra_space"></div>
<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
        Registration No :
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-main">
        {{fitness_app.registration_no}}
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
        Current Fitness Certificate No :
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-main">
       {{fitness_app.fitness_certificate_no}}
    </div>
</div>
<div class="extra_space"></div>
<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
        Vehicle Type :
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-main">

        {{fitness_app.vehicle_type.name}}
    </div>
    {% if fitness_app.flag == 3 %}
    <div class="col-lg-2 col-md-4 col-sm-12 text-heading">
        Issued On :
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-main">
        {{fitness_app.approve_time}}
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <br/><br/>
        <div class="text-right">
            <button type="button" class="btn btn-primary another_button">View Another</button>
        </div>
        <br/>
    </div>							
</div>