{% extends "bus_main/base.html" %}

{%block title%}View Fitness Application Status{%endblock%}

{% block style %}
		<style>
			body{
				min-height:100vh;
				/*background:url({{maintheme_server}}/img/cu_library.jpg) no-repeat;
				background-size:cover;
				background-position:center center;
				background-attachment:fixed;*/
			}
			.shadow-with-white{
				box-shadow:0px 2px 6px 0px rgba(163,218,101,1);
				box-shadow:0px 2px 6px 0px rgba(52,160,180,1);
			}
			h4{
				color:rgb(33,124,97);
				color:rgb(35,102,135);
				text-align:center;
				text-shadow:1px 1px 0px rgba(33,124,90,0.1);
			}
			.form-group label{
				color:rgb(43,115,112);
				font-size:1.2em;
			}
			.form-control, .form-control:focus, .form-control:hover{
				border:none;
				outline:none;
				box-shadow:none;
				border:solid 1px rgba(35,102,135,0.3);
			}
			.form-control:focus{
				border:solid 1px rgba(35,102,135,0.8);
			}
			.form-control{
				width:90%;
			}
			.status_table{
				width:100%;
			}
			
			.status_table td{
				width:16.67%;
				font-size:1em;
			}
			
			.report_status{
				color:rgb(57,97,133);
				font-size:0.95em;
				text-align:right;
				margin-right:3px;
				padding:0px;				
			}
			
			.status_bar{
				height:12px;
				margin:3px;
				padding:0px;
				border-radius:3px;
			}
			
			textarea.form-control{
				width:95%;
				resize:none;
			}
					
		  .text-heading{
				color:rgb(35,102,135);
				font-size:1.2em !important;
				font-weight: bold;
		  }
		  .text-main{
			font-size:1.2em !important;
		  }
		  .extra_space{
			  margin-top:10px;
		  }
		  .id_image{
				width:90%;
				height:100px;
				margin-left:5%;
				margin-top:40px;
				border-radius:5px;
				box-shadow:1px 1px 6px 0px rgba(30,130,168,0.5);
				cursor:zoom-in;
			}
			.submit_button, .submit_button:focus, .submit_button:hover,
				.another_button, .another_button:focus, .another_button:hover{
					color:white !important;
					font-size:1.1em;
					border:none;
					border:solid 1px rgba(56,141,116,0.1) !important;
					border-bottom:solid 1px rgb(56,141,116);
					background:linear-gradient(to right, rgb(37,115,129), rgba(52,164,184,1)) !important;
					box-shadow:0px 3px 4px 0px rgba(52,164,184,0.6) !important;
					outline:none !important;
			}
			#id_admit_name{
				color:rgb(36,96,92);
			}
			#id_admit, #evidence{
				display:none;
			}
			label[for="id_admit"], label[for="evidence"]{
				font-size:1em;
				color:white;
				padding:6px 24px;
				border-radius:14px;
				background:linear-gradient(to right, rgb(55,138,114), rgb(73,182,149));
				box-shadow:0px 3px 4px 0px rgba(51,125,40,0.6);
			}
			
			.progress-bar{
				width:0%;
				height:5px;
				margin:0px;
				padding:0px;
				border-radius:6px;
				background:linear-gradient(to right, #08b38d, #3869a8);
			}
			
			#success_div{
				display:none;
			}
			
			#tracking_id, #tracking_code{
				font-weight:bold;
			}
			
			@keyframes animateMessage{
				0%{
					right:-370px;
					transform:scale(0.8);
				}
				10%{
					right:-30px;
					transform:scale(0.8);
				}	
				15%{
					right:20px;
					transform:scale(1);
				}
				85%{
					right:20px;
					transform:scale(1);
				}
				90%{
					right:-30px;
					transform:scale(0.8);
				}	
				100%{
					right:-370px;
					transform:scale(0.8);
				}
			}
			
			.showMessage{
				width:300px;
				font-size:1.1em;
				text-align:center;
				padding:24px;
				background:white;
				border-radius:4px;
				border-left:solid 3px rgb(55,133,129);
				box-shadow:0px 2px 6px 0px rgba(13,40,70,0.8);
				position:fixed;
				right:-370px;
				bottom:14px;
				z-index:99999;
				transform:scale(0.8);	
			}
			
			label[for="user_1"], label[for="user_2"], label[for="user_3"]{
				cursor:pointer;
			}
			
			td{
				font-size:1.3em;
			}
			
			.evidence_viewer{
				background:white;
				font-size:0.95em;
				margin-top:8px;
				padding:5px 8px;
				box-shadow:0px 2px 4px 0px rgba(35,102,135,0.6);
				border-radius:5px;
				margin-left:8px;
				display:inline-block;				
			}
			
			.text-heading, .text-main{
				margin-top:16px;
			}
			
			@media only screen and (max-width: 1023px) {
				.form-control{
					width:100%;
				}				
				h4{
					font-size:1.2em;
				}
				.report_status{
					font-size:0.84em;
				}
			}
			
			@media only screen and (max-width: 1023px) {
				.report_status{
					font-size:0.7em;
				}
			}
		</style>
{% endblock  %}

{% block content %}
	
	<div class="showMessage"></div>
	
	<br/><br/>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1 col-md-12 col-sm-12"></div>
				<div class="col-lg-10 col-md-12 col-sm-12">
					<div class="shadow-with-white">
						<div id="submit_div">
							<h4>View Fitness Application Status</h4>
							<br/><br/>
							<form class="report_form">
								{% csrf_token %}
								<div class="row">
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="form-group">
											<label for="application">Application ID</label>
											<input type="text" class="form-control" id="application" name="application" placeholder="enter application id...">
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="form-group">
											<label for="code">Tracking Code</label>
											<input type="text" class="form-control" id="code" name="code" placeholder="enter tracking code...">
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12">
										<div class="form-group" >
											<label for="certificate_no">Current Fitness Certificate No.</label>
											<input type="text" class="form-control" id="certificate_no" name="certificate_no" placeholder="enter your vehicle fitness certificate no..">
										</div>
									</div>
								</div>
								<br/>
								<div class="text-right">
									<button type="button" class="btn btn-primary submit_button">Search</button>
								</div>
								<br/>
							</form>
						</div>
						<div id="success_div">
							
						</div>
					</div>
				</div>
			</div>
		</div>	 
	<br/><br/><br/>
	 
{% endblock %}

{% block script %}
	<script>
	
		function showMessage(message){
			$(".showMessage").css("animation","none");
			setTimeout(function(){
					$(".showMessage").html(message)
				.css("animation","animateMessage 6s forwards");
			},300);
		}

		
		$(document).ready(function(){
			var flag = 0;
			$(document).on("click", ".another_button", function(){
				flag=0;
				$("#success_div").slideUp(400).html("");
				$("#submit_div").slideDown(500);
			});
			
			$("#code").on('keyup', function (e) {
				if (e.keyCode === 13) {
					$(".submit_button").click();
				}
			});
			$(".submit_button").click(function(){
				var application = $.trim($("#application").val());
				if(application.length==0){
					showMessage("Please enter Application ID");
					return;
				}
				var code = $.trim($("#code").val());
				if(code.length==0){
					showMessage("Please enter Tracking Code");
					return;
				}
                var certificate_no = $.trim($("#certificate_no").val());
				if(certificate_no.length==0){
					showMessage("Please enter Current Fitness Certificate No.");
					return;
				}
				$.get("{% url 'bus:view-fitness-application-status' %}?application="+application+"&&code="+code+"&&certificate_no="+certificate_no, function(data){
					if(data.status==1){
						showMessage("The information you provided do not match");
					}else{
						$("input").val("");
						$("#success_div").html(data).slideDown(500);
						$("#submit_div").slideUp(400);
					}
				});
				
			});

			
		});
	
	</script>
{% endblock %}