{% extends "dashboard/dashboard.html" %}

{% block title %}
	Applied for Driving License
{% endblock %}

{% block style%}

	<style>
	
		.view_learner_button, .enter_mark_exam, .view_exam_history, .view_exam_details, .issue_license{
			color:white;
			font-size:0.9em;
			margin-top:6px;
			background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
			padding:4px 16px;
		}
		
		.issue_license, .issue_driving_license, .issue_driving_license:hover, .issue_driving_license:focus{
			background:linear-gradient(to bottom, rgb(56,183,205), rgb(43,118,140)) !important;
		}
		
		.enter_mark_exam{
			background:linear-gradient(to right, rgb(18,157,203), rgb(58,133,33)) !important;
		}
		
		.issue_driving_license{
			color:white;
		}
		
		.modal-title{
			font-size:1.8em;
		}
		
		.learner_point, .learner_description{
			margin:0px;			
			padding:0px;
		}
		
		.modal-title-learner{
			font-size:1.8em;
			font-weight:400;
		}
		
		.view_exam_history{
			background:linear-gradient(to right, rgb(16,180,82), rgb(30,104,166)) !important;
		}
		
		.learner_point{
			font-size:1.2em;
			font-weight:bold;
			margin-top:6px;
		}
		
		.learner_description{
			font-size:1.14em;
		}
		
		.mark_ready_button, .mark_ready_button:hover, .mark_ready_button:focus{
			color:white;
			background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
		}
		
		.modal_close_button, .modal_close_button:hover, .modal_close_button:focus{
			color:rgb(35,112,169);
			background:linear-gradient(to bottom, rgb(232,160,108), rgb(221,37,11)) !important;
			background:linear-gradient(to bottom, rgb(255,255,255), rgb(204,226,244)) !important;
		}
		
		table.dataTable{
			margin-top:0px !important;
		}
		
		table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
			table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after,
				table.dataTable thead .sorting_desc_disabled:after,
		table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
			table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before,
				table.dataTable thead .sorting_desc_disabled:before{
					content:"";
		}
		
		#for_datatable_info{
			opacity:0;
		}
		
		#for_datatable_wrapper .row{
			width:100% !important;
		}
		
		#for_datatable_wrapper .row, #for_datatable_wrapper .col-sm-12{
			margin:0px;
			padding:0px;
		}
		
		.searcher_table{
			width:100%;
		}
		
		.media_holder{
			margin-top:20px;
			padding:8px 15px 0px 15px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
				
		#view_nid_image, #view_testimonial, #view_apply_form,
			#download_nid_image, #download_testimonial, #download_apply_form,
				#view_driver_image, #view_driver_signature, #view_driving_application_form, #view_lear_license_form,
					#download_driver_image, #download_driver_signature, #download_driving_application_form, #download_learner_license{
						color:white;
						background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
		}
		
		.extra_space{
			height:2px;
			margin:0px;
			padding:0px;
		}
		
		#nid_image, #testimonial, #apply_form,
			#driver_image, #driver_signature, #driving_application_form, #learner_license_form{
				width:60%;
				margin-top:10px;
				margin-bottom:12px;
				box-shadow:0px 2px 6px 0px rgb(172,210,238);
				border-radius:4px;
				display:none;
		}
		
		.approval_div{
			font-size:1.3em;			
			padding:10px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
		
		.approval_div .fas{
			color:rgb(72,184,18);
			font-size:1.2em;
		}
		
		.approval_div .fa-id-badge{
			color:rgb(58,169,213);
		}
		
		.approval_div span{
			font-size:1em;
			font-weight:bold;
		}
		
		.control-label{
			font-size:1.18em !important;
			margin-top:20px;
		}
		
		.form-control{
			font-size:1.05em !important;
			margin-top:4px;
		}
		
		.form-control[readonly]{
			border:solid 1px rgb(202,227,247) !important;
			background:white !important;
			opacity:1 !important;
		}
		
		.exam_span, .mark_span{
			font-size:1.1em !important;
		}
		
		.mark_span, .exam_passed, .exam_failed{
			font-weight:400 !important;
		}
		
		.appeared_title{
			margin-top:6px;
			padding:4px 0px;
			font-weight:400 !important;
			display:inline-block;
		}
		
		.exam_para{
			height:4px;
			margin:0px;
			padding:0px;
		}
		
		.exam_para{
			height:4px;
			margin:0px;
			padding:0px;
		}
		
		
		.fa-address-card{
			color:rgb(90,140,216);
		}
		
		
		/*
			screen media
		*/
		
		@media only screen and (max-width: 1023px) {
			th{
				font-size:0.9em !important;
			}
			td{
				font-size:0.85em !important;
			}
			.view_learner_button, .enter_mark_exam{
				padding:4px 6px;
			}
		}
		
		@media only screen and (max-width: 992px) {
			.media_holder{
				padding:6px;
			}
			#nid_image, #testimonial, #apply_form{
				width:100%;
			}
		}
				
	</style>
	
{% endblock %}

{% block maincontent %}
	<div class="list_div">
		<div class="title_holder">						
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h1 class="menu_heading">Applied for Driving License</h1>
				</div>
			</div>
			<br/>
		</div>
		<div class="container-fluid">					
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<input type="text" id="search_box" class="form-control" placeholder="search here..."/>
					<div class="list_container">
						<table class="table table-hover table-striped category_table searcher_table" id="for_datatable">
							<thead>
								<tr>
									<th>
										Name and Contact
									</th>									
									<th class="not-mobile">
										Approval Details
									</th>
									<th class="not-mobile">
										Eligibility Process Details
									</th>
									<th class="not-mobile">
										Driving License Exam Details
									</th>
									<th style="text-align:center;">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								{% for an_application in learner_applications %}
									<tr data-learner_id="{{an_application.id}}">
										<td class="name_column">
											{{an_application.name}}<br/>
											({{an_application.contact_no}})
										</td>
										<td>
											Approved by {{an_application.approved_by.first_name}} {{an_application.approved_by.last_name}}<br/>
											on {{an_application.approve_time}}
										</td>
										<td>
											Marked as Ready for Exam<br/>by {{an_application.marked_ready_by.first_name}} {{an_application.marked_ready_by.last_name}}<br/>
											on {{an_application.ready_time}}
										</td>
										<td>
											<p class="extra_space2"></p>
											Passed in Driving License Exam.<br/>
											Marks saved by {{an_application.exam_marks.all.last.entry_by.first_name}} {{an_application.exam_marks.all.last.entry_by.last_name}}<br/>
											on {{an_application.exam_marks.all.last.entry_time}}
											<br/>
											<button class="btn view_exam_history" data-learner_id="{{an_application.id}}" data-toggle="modal" data-target="#learnerModal">
												View Exam History
											</button>
											<p class="extra_space2"></p>
										</td>
										<td class="text-center">
											<button class="btn view_learner_button" data-learner_id="{{an_application.id}}" data-toggle="modal" data-target="#learnerModal">
												View Full Details
											</button>
											<br/>
											<button class="btn issue_license" data-learner_id="{{an_application.id}}" data-driver_id="{{an_application.driving_license_learner_app.first.id}}" 		data-learner_name="{{an_application.name}}" data-license_number="{{an_application.license_number}}"
													data-toggle="modal" data-target="#issueDrivingLicenseModal">
												Issue Driving License
											</button>
											<br/>
											<p class="extra_space_2"></p>
										</td>
									</tr>
								{% endfor %}								
							</tbody>
						</table>
					</div>								
				</div>
				<div class="col-lg-12">
					{% if learner_applications.has_other_pages %}
						<br/>
						<div style="position:relative;">
							<ul class="pagination" style="position:absolute;right:0px;">
								{% if learner_applications.has_previous %}
									<li class="page-item">
										<a class="page-link
											{% if from_type %}
												food-link
											{% else %}
												cat-link
											{% endif %}"
										href="?page={{learner_applications.previous_page_number}}" tabindex="-1">
											&laquo;
										</a>
									</li>
								{% endif %}                                 
								{% for i in learner_applications.paginator.page_range %}
									{% if learner_applications.number == i %}
										<li class="page-item">
											<a class="page-link
											{% if from_type %}
												food-link
											{% else %}
												cat-link
											{% endif %}
										 active" href="#">{{i}} <span class="sr-only">(current)</span></a>
										</li>
									{% else %}
											<li class="page-item">
												<a class="page-link 
													{% if from_type %}
														food-link
													{% else %}
														cat-link
													{% endif %}" href="?page={{i}}">
													{{i}}
												</a>
											</li>
									{% endif %}
								{% endfor %}
								{% if learner_applications.has_next %}
									<li class="page-item">
										<a class="page-link 
											{% if from_type %}
												food-link
											{% else %}
												cat-link
											{% endif %}" href="?page={{learner_applications.next_page_number}}" tabindex="-1">
											&raquo;
										</a>
									</li>
								{% endif %}
							</ul>
						</div>
					{% endif %}
					<br/><br/><br/><br/>
				</div>
			</div>
		</div>					
	</div>
	
	<div class="modal fade" id="learnerModal">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content" id="modal_content">
				<div class="modal-header">
				  <h4 class="modal-title modal-title-learner menu_heading">&nbsp;</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body modal-body-learner">
				  &nbsp;
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary modal_close_button" data-dismiss="modal">Close</button>
				</div>
		  </div>
		</div>
	  </div>
	  
	  <div class="modal fade" id="issueDrivingLicenseModal">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content" id="modal_content_marks">
				<div class="modal-header">
				  <h4 class="modal-title modal-title-issue-license menu_heading"></h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<label for="pay_date" class="control-label">Fee Pay Date</label>
								<input type="text" id="pay_date" class="form-control" readonly />
								<br/><br/>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary issue_driving_license">Issue Driving License</button>
					<button type="button" class="btn btn-secondary modal_close_button" data-dismiss="modal">Close</button>
				</div>
		  </div>
		</div>
	  </div>
	
{% endblock %}

{% block script %}
	
	<script>
		
		function showMessage(message){
				$(".showMessage").css("animation","none");
				setTimeout(function(){
					$(".showMessage").html(message)
					.css("animation","animateMessage 6s forwards");
				},100);
		}
				
		$.fn.extend({
			filters: function (table) {
				var box = $(this);
				$(this).keyup(function () {
					var searchText = $.trim($(box).val()).toLowerCase();
					$(table + " tbody tr").each(function () {
						$(this).css("display", $(this).text().toLowerCase().indexOf(searchText) === -1 ? "none" : "");
					});
				});
				return $(this);
			}
		});
		
		var sliding = false;
		
		$(document).ready(function(){
		
			$('.nav-item[data-menu="applied-for-driving-license"]').addClass("active");
			$('.nav-item[data-slide="license-menu"]').show();
			$("#search_box").filters(".searcher_table");
			var activated_data = $('.nav-item[data-menu="applied-for-driving-license"]').data("slide");
			$(".fa[data-icon='"+activated_data+"']").removeClass("fa-plus-circle").addClass("fa-minus-circle");
			$("#for_datatable").DataTable({
			  paging:false,
			  searching:false,
			  responsive:true,
			  sorting:false,
			  bDestroy: true,
			  columnDefs: [
				{ responsivePriority: 1, targets: 0 },
				{ responsivePriority: 2, targets: -1 },
				]
			});
			
			$("#pay_date").datepicker({
				dateFormat: "yy-mm-dd",
				changeYear: true,
				changeMonth: true,
			}).datepicker("setDate", new Date());
			
			$(document).on("click", "#view_nid_image, #view_testimonial, #view_apply_form, #view_driver_image, #view_driver_signature, #view_driving_application_form, #view_lear_license_form", function(){
				if(sliding){
					return;
				}
				sliding = true;
				var slided = $(this).data("slided");
				$(this).data("slided", !slided);
				if(slided){
					$(this).html("View");
					$(this).siblings("img").slideUp(400, function(){
						sliding = false;
					});
				}else{
					$(this).html("Hide");
					$(this).siblings("img").slideDown(500, function(){
						sliding = false;
					});
				}				
			});
			
			
			$(document).on("click", "#download_nid_image, #download_testimonial, #download_apply_form, #download_driver_image, #download_driver_signature, #download_driving_application_form, #download_learner_license", function(){
				var image_source = $(this).data("source");
				window.open(image_source, '_blank').focus();
			});
			
			
			$(document).on("click", ".view_learner_button" , function(){
				var learner_id = $(this).data("learner_id");
				$(".modal-title-learner, .modal-body-learner").html("Loading...");
				$.ajax({
					url:"{% url 'dashboard:learner-details' %}",
					method:"GET",
					data:{learner_id:learner_id},
					success:function(data){
						$("#modal_content").html(data);
					},
					error:function(error){
						showMessage("Sorry, an error occured");
					}
				});			
			});
			
			$(document).on("click", ".view_exam_history" , function(){
				var learner_id = $(this).data("learner_id");
				$(".modal-title-learner, .modal-body-learner").html("Loading...");
				$.ajax({
					url:"{% url 'dashboard:learner-details' %}",
					method:"GET",
					data:{learner_id:learner_id, view_exam_history:true},
					success:function(data){
						$("#modal_content").html(data);
					},
					error:function(error){
						showMessage("Sorry, an error occured");
					}
				});			
			});
			
						
			$(document).on("click", ".view_exam_details", function(){
				if(sliding){
					return;
				}
				sliding = true;
				var slided = $(this).data("slided");
				$(this).data("slided", !slided);
				if(slided){
					$(this).html("View Details");
					$(this).siblings(".reverse_row").children(".col-lg-8").children(".mark_save_div").fadeOut(400);
					$(this).siblings(".mark_table_parent").slideUp(400, function(){
						sliding = false;
					});
				}else{
					$(this).html("Hide Details");
					$(this).siblings(".reverse_row").children(".col-lg-8").children(".mark_save_div").fadeIn(500);
					$(this).siblings(".mark_table_parent").slideDown(500, function(){
						sliding = false;
					});
				}				
			});
			
			$(document).on("click", ".issue_driving_license", function(){
				var driver_id = $(this).data("driver_id");
				var learner_name = $(this).data("learner_name");
				var learner_id = $(this).data("learner_id");
				var pay_date = $.trim($("#pay_date").val());
				if(pay_date.length==0){
					showMessage("Please insert the date of payment");
					return;
				}	
				$.confirm({
					theme:'material',
					animation:'news',
					closeAnimation: 'rotateX',
					title: 'Issue Driving License?',
					content: 'Do you want to issue driving license for '+learner_name+'?',
					buttons: {
						confirm:{
							text: 'Yes',
							btnClass: 'btn-yes',
							keys: ['enter', 'shift'],
							action: function(){
								$.ajax({
									url:"{% url 'dashboard:issue-driving-license' %}",
									method:"POST",
									data:{driver_id:driver_id, pay_date:pay_date, csrfmiddlewaretoken:"{{csrf_token}}"},
									success:function(data){
										if(data.status==1){
											showMessage("Driving License for "+learner_name+" has been issued successfully");
											$(".modal_close_button").trigger("click");
											$('tr[data-learner_id="'+learner_id+'"]').remove();
										}else if(data.status==4){
											showMessage("This person has already been issued a driving license");
											$(".modal_close_button").trigger("click");
											$('tr[data-learner_id="'+learner_id+'"]').remove();
										}else{
											showMessage("Sorry, an error occured");
										}
									},
									error:function(error){
										showMessage("Sorry, an error occured");
									}
								});								
							}
						},
						cancel:{
							text: 'No',
							btnClass: 'btn-no',
							keys: ['esc'],
							action:function(){}
						}
					}
				});
			});
			
			$(document).on("click", ".issue_license", function(){
				var driver_id = $(this).data("driver_id");
				var learner_name = $(this).data("learner_name");
				var learner_id = $(this).data("learner_id");
				var license_number = $(this).data("license_number");
				$(".modal-title-issue-license").html("&nbsp;Issue Driving License to "+learner_name+"<br/>(Learner License No. : "+license_number+")");
				$(".issue_driving_license").data("driver_id", driver_id).data("learner_name", learner_name).data("learner_id", learner_id);
			});
			
			
		});
		
	
	</script>
	
{% endblock %}