{% extends "dashboard/dashboard.html" %}

{% block title %}
	Fitness Renewal Applications Approved by Inspector
{% endblock %}

{% block style%}

	<style>
	
		.view_learner_button{
			color:white;
			font-size:0.9em;
			background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
			padding:4px 16px;
		}
		
		label[for="inspector"], label[for="inspection_date"]{
			font-family:'Titillium Web' !important;
			font-size:1.5em !important;
			margin-bottom:4px;
		}
		
		select#inspector, select#inspection_date{
			font-size:1.2em;
		}
		
		.modal-title{
			font-size:1.8em;
		}
		
		.learner_point, .learner_description{
			margin:0px;			
			padding:0px;
		}
		
		.learner_point{
			font-size:1.2em;
			font-weight:bold;
			margin-top:6px;
		}
		
		.learner_description{
			font-size:1.14em;
		}
		
		.approve_button, .approve_button:hover, .approve_button:focus{
			color:white;
			background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
		}
		
		.modal_close_button, .modal_close_button:hover, .modal_close_button:focus{
			color:rgb(35,112,169);
			background:linear-gradient(to bottom, rgb(232,160,108), rgb(221,37,11)) !important;
			background:linear-gradient(to bottom, rgb(255,255,255), rgb(204,226,244)) !important;
		}
		
		table.dataTable{
			margin-top:0px !important;
		}
		
		table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
			table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after,
				table.dataTable thead .sorting_desc_disabled:after,
		table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
			table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before,
				table.dataTable thead .sorting_desc_disabled:before{
					content:"";
		}
		
		#for_datatable_info{
			opacity:0;
		}
		
		#for_datatable_wrapper .row{
			width:100% !important;
		}
		
		#for_datatable_wrapper .row, #for_datatable_wrapper .col-sm-12{
			margin:0px;
			padding:0px;
		}
		
		.searcher_table{
			width:100%;
		}
		
		.media_holder{
			margin-top:20px;
			padding:8px 15px 0px 15px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
				
		#view_nid_image, #view_testimonial, #view_apply_form,
			#download_nid_image, #download_testimonial, #download_apply_form{
				color:white;
				background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
		}
		
		.extra_space{
			height:2px;
			margin:0px;
			padding:0px;
		}
		
		#nid_image, #testimonial, #apply_form{
			width:60%;
			margin-top:10px;
			margin-bottom:12px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
			border-radius:4px;
			display:none;			
		}
		
		.approval_div{
			font-size:1.3em;			
			padding:10px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
		
		.approval_div .fas{
			color:rgb(72,184,18);
			font-size:1.2em;
		}
		
		.approval_div .fa-id-badge{
			color:rgb(58,169,213);
		}
		
		.approval_div span{
			font-size:1em;
			font-weight:bold;
		}
		
		#inspection_date{
			color:black !important;
			background:white !important;
			border:solid 1px rgb(126,182,237) !important;
		}
		
		.remarks_holder{
			font-size:0.98em;
			padding:6px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
		
		/*
			screen media
		*/
		
		@media only screen and (max-width: 992px) {
			.media_holder{
				padding:6px;
			}
			#nid_image, #testimonial, #apply_form{
				width:100%;
			}
		}
				
	</style>
	
{% endblock %}

{% block maincontent %}
	<div class="list_div">
		<div class="title_holder">						
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h1 class="menu_heading">Fitness Renewal Applications Approved by Inspector</h1>
				</div>
			</div>
			<br/>
		</div>
		<div class="container-fluid">					
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<input type="text" id="search_box" class="form-control" placeholder="search here..."/>
					<div class="list_container">
						<table class="table table-hover table-striped category_table searcher_table" id="for_datatable">
							<thead>
								<tr>
									<th>
										Name and Contact
									</th>
									<th class="not-mobile">
										Vehicle Type and Registration No.
									</th>
									<th class="not-mobile">
										Time of Application
									</th>
									<th class="not-mobile">
										Inspection Details
									</th>
									<th>
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								{% for an_application in fitness_applications %}
									<tr data-fitness_id="{{an_application.id}}">
										<td>
											{{an_application.name}}<br/>
											({{an_application.contact_no}})
										</td>
										<td>
											{{an_application.vehicle_type.name}}<br/>
											{{an_application.registration_no}}
										</td>
										<td>
											{{an_application.apply_time}}
										</td>
										<td>
											Inspected by {{an_application.inspected_by.first_name}} {{an_application.inspected_by.last_name}} on {{an_application.inspection_date}}.<br/>
											Inspection Details Saved on {{an_application.inspection_time}}
										</td>
										<td>
											<button class="btn view_learner_button" data-fitness_id="{{an_application.id}}" data-toggle="modal" data-target="#learnerModal">
												View
											</button>
										</td>
									</tr>
								{% endfor %}								
							</tbody>
						</table>
					</div>								
				</div>
				<div class="col-lg-12">
					{% if fitness_applications.has_other_pages %}
						<br/>
						<div style="position:relative;">
							<ul class="pagination" style="position:absolute;right:0px;">
								{% if fitness_applications.has_previous %}
									<li class="page-item">
										<a class="page-link
											{% if from_type %}
												food-link
											{% else %}
												cat-link
											{% endif %}"
										href="?page={{fitness_applications.previous_page_number}}" tabindex="-1">
											&laquo;
										</a>
									</li>
								{% endif %}                                 
								{% for i in fitness_applications.paginator.page_range %}
									{% if fitness_applications.number == i %}
										<li class="page-item">
											<a class="page-link
											{% if from_type %}
												food-link
											{% else %}
												cat-link
											{% endif %}
										 active" href="#">{{i}} <span class="sr-only">(current)</span></a>
										</li>
									{% else %}
											<li class="page-item">
												<a class="page-link 
													{% if from_type %}
														food-link
													{% else %}
														cat-link
													{% endif %}" href="?page={{i}}">
													{{i}}
												</a>
											</li>
									{% endif %}
								{% endfor %}
								{% if fitness_applications.has_next %}
									<li class="page-item">
										<a class="page-link 
											{% if from_type %}
												food-link
											{% else %}
												cat-link
											{% endif %}" href="?page={{fitness_applications.next_page_number}}" tabindex="-1">
											&raquo;
										</a>
									</li>
								{% endif %}
							</ul>
						</div>
					{% endif %}
					<br/><br/><br/><br/>
				</div>
			</div>
		</div>					
	</div>
	
	<div class="modal fade" id="learnerModal">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content" id="modal_content">
				<div class="modal-header">
				  <h4 class="modal-title menu_heading">&nbsp;</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body">
				  &nbsp;
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary modal_close_button" data-dismiss="modal">Close</button>
				</div>
		  </div>
		</div>
	  </div>

{% endblock %}

{% block script %}
	
	<script>
		
		function showMessage(message){
				$(".showMessage").css("animation","none");
				setTimeout(function(){
					$(".showMessage").html(message)
					.css("animation","animateMessage 6s forwards");
				},100);
		}
				
		$.fn.extend({
			filters: function (table) {
				var box = $(this);
				$(this).keyup(function () {
					var searchText = $.trim($(box).val()).toLowerCase();
					$(table + " tbody tr").each(function () {
						$(this).css("display", $(this).text().toLowerCase().indexOf(searchText) === -1 ? "none" : "");
					});
				});
				return $(this);
			}
		});
		
		var sliding = false;
		
		$(document).ready(function(){
		
			$('.nav-item[data-menu="approved-by-inspector"]').addClass("active");
			$('.nav-item[data-slide="fitness-menu"]').show();
			var activated_data = $('.nav-item[data-menu="approved-by-inspector"]').data("slide");
			$(".fa[data-icon='"+activated_data+"']").removeClass("fa-plus-circle").addClass("fa-minus-circle");
			$("#search_box").filters(".searcher_table");
			
			$("#inspection_date").datepicker();
			
			$("#for_datatable").DataTable({
			  paging:false,
			  searching:false,
			  responsive:true,
			  sorting:false,
			  bDestroy: true,
			  columnDefs: [
				{ responsivePriority: 1, targets: 0 },
				{ responsivePriority: 2, targets: -1 },
				]
			});
			
			$(document).on("click", "#view_nid_image, #view_testimonial, #view_apply_form", function(){
				if(sliding){
					return;
				}
				sliding = true;
				var slided = $(this).data("slided");
				$(this).data("slided", !slided);
				if(slided){
					$(this).html("View");
					$(this).siblings("img").slideUp(400, function(){
						sliding = false;
					});
				}else{
					$(this).html("Hide");
					$(this).siblings("img").slideDown(500, function(){
						sliding = false;
					});
				}				
			});
			
			$(document).on("click", ".approve_button", function(){
				var fitness_id = $.trim($(this).data("fitness_id"));
				var registration_no = $(this).data("registration_no");
				
				$.confirm({
					theme:'material',
					animation:'news',
					closeAnimation: 'rotateX',
					title: 'Issue New Fitness Certificate?',
					content: 'Do You Want to Issue New Fitness Certificate for the Vehicle <b>(Registration No. : </b>'+registration_no+')?',
					buttons: {
						confirm:{
							text: 'Yes',
							btnClass: 'btn-yes',
							keys: ['enter', 'shift'],
							action: function(){
								$.ajax({
									url:"{% url 'dashboard:issue-fitness-certificate' %}",
									method:"POST",
									data:{fitness_id:fitness_id,csrfmiddlewaretoken:"{{csrf_token}}"},
									success:function(data){
										if(data.status==1){
											showMessage('A New Fitness Certificate has been Issued to the Vehicle <b>(Registration No. : </b>'+registration_no+')');
											$(".modal_close_button").trigger("click");
											$('tr[data-fitness_id="'+fitness_id+'"]').remove();
										}else{
											showMessage("Sorry, an error occured");
										}
									},
									error:function(error){
										showMessage("Sorry, an error occured");
									}
								});								
							}
						},
						cancel:{
							text: 'No',
							btnClass: 'btn-no',
							keys: ['esc'],
							action:function(){}
						}
					}
				});
				
			});
			
			$(document).on("click", "#download_nid_image, #download_testimonial, #download_apply_form", function(){
				var image_source = $(this).data("source");
				window.open(image_source, '_blank').focus();
			});
			
			$(document).on("click", ".view_learner_button" , function(){
				var fitness_id = $(this).data("fitness_id");
				$(".modal-title, .modal-body").html("Loading...");
				$.ajax({
					url:"{% url 'dashboard:fitness-details' %}",
					method:"GET",
					data:{fitness_id:fitness_id},
					success:function(data){
						$("#modal_content").html(data);
						setTimeout(function(){
							$("#inspection_date").datepicker({
								dateFormat: "yy-mm-dd",
								changeYear: true,
								changeMonth: true,
							}).datepicker("setDate", new Date());
						},500);						
					},
					error:function(error){
						showMessage("Sorry, an error occured");
					}
				})
				
			});
					
		});
		
	
	</script>
	
{% endblock %}