{% extends "dashboard/dashboard_bus_owner.html" %}

{% block title %}
	Dashboard
{% endblock %}

{% block style %}
	<style>
		.menu_heading{
			background:linear-gradient(to bottom,rgb(39,98,143),rgb(0,0,0));
			-webkit-background-clip:text;
			-webkit-text-fill-color:transparent;
		}
		
		.approval_div{
			padding:10px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
		
		.top_margin{
			height:50px;
			margin:0px;
			padding:0px;
		}
		
		.inner_card{
			padding:30px 14px;
			background:white;
			border-radius:6px 6px 4px 4px;
			border-top:solid 4px rgb(44,123,167);
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
		
		.inner_card table{
			width:100%;
		}
		
		.inner_card table tr td:nth-child(1){
			width:30%;
			text-align:center;
		}
				
		.inner_card table tr td .fa{
			font-size:3.2em;
		}
		
		.inner_card table tr td span.number{
			font-size:2em;
		}
		
		.inner_card table tr td span.title{
			font-size:1.1em;
		}
		.map_image{
			width: 60%;
			box-shadow: 0px 2px 6px 0px rgba(69, 132, 177, 0.6); 
			border: solid 1px rgba(62, 90, 121, 0.5);
		}
		
		@media only screen and (max-width: 1023px) {
			.approval_div{
				padding:6px;
			}
			.top_margin{
				height:34px !important;
			}
			.inner_card{
				padding:20px 6px;
			}
		}
		
	</style>
{% endblock %}

{% block maincontent %}
	<div class="list_div">
		<div class="container-fluid">					
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<br/>
					<div class="approval_div">
							<h1 class="menu_heading">Daily Statistics</h1>
						<div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <p class="top_margin" style="height:20px;"></p>
                                <div class="inner_card" style="border-top:solid 4px rgb(65,184,31);">
                                    <table>
                                        <tr>
                                            <td>
                                                <i class="fa fa-money" style="color:rgb(65,184,31);"></i>
                                            </td>
                                            <td>
                                                <span class="number">
                                                    11300 Tk
                                                </span>
                                                <br/>
                                                <span class="title">
                                                    Total Earnings
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
								<div class="col-lg-4 col-md-6 col-sm-12">
									<p class="top_margin" style="height:20px;"></p>
									<div class="inner_card">
										<table>
											<tr>
												<td>
													<i class="fa fa-list-ul" style="color:rgb(43,148,187);"></i>
												</td>
												<td>
													<span class="number">
														10
													</span>
													<br/>
													<span class="title">
														Total Number of Bus
													</span>
												</td>
											</tr>
										</table>
									</div>
								</div>						
								<div class="col-lg-4 col-md-6 col-sm-12">
									<p class="top_margin" style="height:20px;"></p>
									<div class="inner_card" style="border-top:solid 4px rgb(27,184,121);">
										<table>
											<tr>
												<td>
													<i class="fa fa-male" style="color:rgb(27,184,121);"></i>
												</td>
												<td>
													<span class="number">
														14
													</span>
													<br/>
													<span class="title">
														Total Number of Bus Drivers
													</span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							
								<div class="col-lg-4 col-md-6 col-sm-12">
									<p class="top_margin" ></p>
									<div class="inner_card" style="border-top:solid 4px rgb(37,154,160);">
										<table>
											<tr>
												<td>
													<i class="fa fa-bus" style="color:rgb(37,154,160);"></i>
												</td>
												<td>
													<span class="number">
														45
													</span>
													<br/>
													<span class="title">
														Total Rides
													</span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							
								<div class="col-lg-4 col-md-6 col-sm-12">
									<p class="top_margin"></p>
									<div class="inner_card" style="border-top:solid 4px rgb(31, 185, 172);">
										<table>
											<tr>
												<td>
													<i class="fa fa-users" style="color:rgb(31, 185, 172);"></i>
												</td>
												<td>
													<span class="number">
														2250
													</span>
													<br/>
													<span class="title">
														Total Number of Passengers
													</span>
												</td>
											</tr>
										</table>
									</div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 col-sm-12">
									<p class="top_margin"></p>
									<div class="inner_card" style="border-top:solid 4px rgb(72,131,179);">
										<table>
											<tr>
												<td>
													<i class="fa fa-user" style="color:rgb(72,131,179);"></i>
												</td>
												<td>
													<span class="number">
														45
													</span>
													<br/>
													<span class="title">
														Number of Passengres Per Ride
													</span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							
								
                                <div class="col-lg-4 col-md-6 col-sm-12">
									<p class="top_margin"></p>
									<div class="inner_card" style="border-top:solid 4px rgb(14,187,167);">
										<table>
											<tr>
												<td>
													<i class="fa fa-bolt" style="color:rgb(14,187,167);"></i>
												</td>
												<td>
													<span class="number">
														0
													</span>
													<br/>
													<span class="title">
														Total Accidents
													</span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							
						</div>
							<br/><br/>
							<h1 class="menu_heading">Bus Summary</h1>
							<div style="text-align:center;" class="col-lg-12 col-md-12 col-sm-12">
								<img class="map_image" style="width:60%;" src="{{static_server}}/img/bus_owner_map.jpg" />
							</div>
						<br/><br/>
					</div>
				</div>
			</div>
		</div>					
	</div>
	

{% endblock %}

{% block script %}
	
	<script>
		
		function showMessage(message){
				$(".showMessage").css("animation","none");
				setTimeout(function(){
					$(".showMessage").html(message)
					.css("animation","animateMessage 6s forwards");
				},100);
		}
		
		
		var maxHeight = 0;
		
		$(window).resize(function(){
			$(".inner_card").css("height", "auto");
			$(".inner_card").each(function(){
				if($(this).outerHeight()>maxHeight){
					maxHeight = $(this).outerHeight();
				}
			});
			$(".inner_card").outerHeight(maxHeight);
		});
		
		$.fn.extend({
			filters: function (table) {
				var box = $(this);
				$(this).keyup(function () {
					var searchText = $.trim($(box).val()).toLowerCase();
					$(table + " tbody tr").each(function () {
						$(this).css("display", $(this).text().toLowerCase().indexOf(searchText) === -1 ? "none" : "");
					});
				});
				return $(this);
			}
		});
		
		window.onload = function(){
			$(".inner_card").css("height", "auto");
			$(".inner_card").each(function(){
				if($(this).outerHeight()>maxHeight){
					maxHeight = $(this).outerHeight();
				}
			});
			$(".inner_card").outerHeight(maxHeight);
		}
		
		$(document).ready(function(){
		
			$('.nav-dashboard[data-menu="dashboard"]').addClass("active");
		
		});
		
	
	</script>
	
{% endblock %}