{% extends "dashboard/dashboard.html" %}


{% block title %}
	Failed in Driving License Exam
{% endblock %}

{% block style%}

	<style>
	
		.view_learner_button, .enter_mark_exam, .view_exam_history, .view_exam_details{
			color:white;
			font-size:0.9em;
			margin-top:6px;
			background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
			padding:4px 16px;
		}
		
		
		.enter_mark_exam, .submit_mark, .submit_mark:hover, .submit_mark:focus{
			background:linear-gradient(to right, rgb(18,157,203), rgb(58,133,33)) !important;
		}
		
		
		.view_exam_history{
			background:linear-gradient(to right, rgb(16,180,82), rgb(30,104,166)) !important;
		}
		
		.submit_mark{
			color:white;
		}
		
		.modal-title{
			font-size:1.8em;
		}
		
		.learner_point, .learner_description{
			margin:0px;			
			padding:0px;
		}
		
		.learner_point{
			font-size:1.2em;
			font-weight:bold;
			margin-top:6px;
		}
		
		.learner_description{
			font-size:1.14em;
		}
		
		.mark_ready_button, .mark_ready_button:hover, .mark_ready_button:focus{
			color:white;
			background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
		}
		
		.modal_close_button, .modal_close_button:hover, .modal_close_button:focus{
			color:rgb(35,112,169);
			background:linear-gradient(to bottom, rgb(232,160,108), rgb(221,37,11)) !important;
			background:linear-gradient(to bottom, rgb(255,255,255), rgb(204,226,244)) !important;
		}
		
		table.dataTable{
			margin-top:0px !important;
		}
		
		table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
			table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after,
				table.dataTable thead .sorting_desc_disabled:after,
		table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
			table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before,
				table.dataTable thead .sorting_desc_disabled:before{
					content:"";
		}
		
		#for_datatable_info{
			opacity:0;
		}
		
		#for_datatable_wrapper .row{
			width:100% !important;
		}
		
		#for_datatable_wrapper .row, #for_datatable_wrapper .col-sm-12{
			margin:0px;
			padding:0px;
		}
		
		.searcher_table{
			width:100%;
		}
		
		.media_holder{
			margin-top:20px;
			padding:8px 15px 0px 15px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
				
		#view_nid_image, #view_testimonial, #view_apply_form, #view_driver_image,
			#download_nid_image, #download_testimonial, #download_apply_form, #download_driver_image{
				color:white;
				background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
		}
		
		.extra_space{
			height:2px;
			margin:0px;
			padding:0px;
		}
		
		#driver_image, #nid_image, #testimonial, #apply_form{
			width:60%;
			margin-top:10px;
			margin-bottom:12px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
			border-radius:4px;
			display:none;
		}
		
		.approval_div{
			font-size:1.3em;			
			padding:10px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
		
		
		.approval_div .fas{
			color:rgb(72,184,18);
			font-size:1.2em;
		}
		
		.approval_div .fa-id-badge{
			color:rgb(58,169,213);
		}
		
		.approval_div span{
			font-size:1em;
			font-weight:bold;
		}
		
		.control-label{
			font-size:1.18em !important;
			margin-top:20px;
		}
		
		.form-control{
			font-size:1.05em !important;
			margin-top:4px;
		}
		
		.form-control[readonly]{
			border:solid 1px rgb(202,227,247) !important;
			background:white !important;
			opacity:1 !important;
		}
		
		.exam_span, .mark_span{
			font-size:1.1em !important;
		}
		
		.mark_span, .exam_passed, .exam_failed{
			font-weight:400 !important;
		}
		
		.appeared_title{
			margin-top:6px;
			padding:4px 0px;
			font-weight:400 !important;
			display:inline-block;
		}
		
		.modal-title-learner{
			font-size:1.8em;
			font-weight:400;
		}
		
		.exam_para{
			height:4px;
			margin:0px;
			padding:0px;
		}
		
		
		/*
			screen media
		*/
		
		@media only screen and (max-width: 1023px) {
			th{
				font-size:0.9em !important;
			}
			td{
				font-size:0.85em !important;
			}
			.view_learner_button, .enter_mark_exam{
				padding:4px 6px;
			}
		}
		
		@media only screen and (max-width: 992px) {
			.media_holder{
				padding:6px;
			}
			#driver_image, #nid_image, #testimonial, #apply_form{
				width:100%;
			}
		}
				
	</style>
	
{% endblock %}

{% block maincontent %}
	<div class="list_div">
		<div class="title_holder">						
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h1 class="menu_heading">Failed in Driving License Exam</h1>
				</div>
			</div>
			<br/>
		</div>
		<div class="container-fluid">					
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<input type="text" id="search_box" class="form-control" placeholder="search here..."/>
					<div class="list_container">
						<table class="table table-hover table-striped category_table searcher_table" id="for_datatable">
							<thead>
								<tr>
									<th>
										Name and Contact
									</th>
									<th class="not-mobile">
										Time of Application
									</th>
									<th class="not-mobile">
										Approval Details
									</th>
									<th class="not-mobile">
										Eligibility Process Details
									</th>
									<th style="text-align:center;">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								{% for an_application in learner_applications %}
									<tr data-learner_id="{{an_application.id}}">
										<td class="name_column">
											{{an_application.name}}<br/>
											({{an_application.contact_no}})
										</td>
										<td>
											{{an_application.apply_time}}
										</td>
										<td>
											Approved by {{an_application.approved_by.first_name}} {{an_application.approved_by.last_name}}<br/>
											on {{an_application.approve_time}}
										</td>
										<td>
											Marked as Ready for Exam<br/>by {{an_application.marked_ready_by.first_name}} {{an_application.marked_ready_by.last_name}}<br/>
											on {{an_application.ready_time}}
										</td>
										<td class="text-center">
											<button class="btn view_learner_button" data-learner_id="{{an_application.id}}" data-toggle="modal" data-target="#learnerModal">
												View Details
											</button>
											<br/>
											<button class="btn view_exam_history" data-learner_id="{{an_application.id}}" data-toggle="modal" data-target="#learnerModal">
												View Exam History
											</button>
											<br/>
											<button class="btn enter_mark_exam" data-learner_id="{{an_application.id}}"
												data-learner_info="{{an_application.name}}" data-license_number="{{an_application.license_number}}" data-toggle="modal" data-target="#examMarkModal">
													Enter Exam Marks Again
											</button>
											<p class="extra_space_2"></p>
										</td>
									</tr>
								{% endfor %}								
							</tbody>
						</table>
					</div>								
				</div>
				<div class="col-lg-12">
					{% if learner_applications.has_other_pages %}
						<br/>
						<div style="position:relative;">
							<ul class="pagination" style="position:absolute;right:0px;">
								{% if learner_applications.has_previous %}
									<li class="page-item">
										<a class="page-link
											{% if from_type %}
												food-link
											{% else %}
												cat-link
											{% endif %}"
										href="?page={{learner_applications.previous_page_number}}" tabindex="-1">
											&laquo;
										</a>
									</li>
								{% endif %}                                 
								{% for i in learner_applications.paginator.page_range %}
									{% if learner_applications.number == i %}
										<li class="page-item">
											<a class="page-link
											{% if from_type %}
												food-link
											{% else %}
												cat-link
											{% endif %}
										 active" href="#">{{i}} <span class="sr-only">(current)</span></a>
										</li>
									{% else %}
											<li class="page-item">
												<a class="page-link 
													{% if from_type %}
														food-link
													{% else %}
														cat-link
													{% endif %}" href="?page={{i}}">
													{{i}}
												</a>
											</li>
									{% endif %}
								{% endfor %}
								{% if learner_applications.has_next %}
									<li class="page-item">
										<a class="page-link 
											{% if from_type %}
												food-link
											{% else %}
												cat-link
											{% endif %}" href="?page={{learner_applications.next_page_number}}" tabindex="-1">
											&raquo;
										</a>
									</li>
								{% endif %}
							</ul>
						</div>
					{% endif %}
					<br/><br/><br/><br/>
				</div>
			</div>
		</div>					
	</div>
	
	<div class="modal fade" id="learnerModal">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content" id="modal_content">
				<div class="modal-header">
				  <h4 class="modal-title modal-title-learner menu_heading">&nbsp;</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body modal-body-learner">
				  &nbsp;
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary modal_close_button" data-dismiss="modal">Close</button>
				</div>
		  </div>
		</div>
	  </div>
	  
	  <div class="modal fade" id="examMarkModal">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content" id="modal_content_marks">
				<div class="modal-header">
				  <h4 class="modal-title modal-title-exam menu_heading">&nbsp;</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<input id="learner_id" style="display:none;"/>
								<label for="written_marks" class="control-label">Written Marks</label>
								<input type="number" id="written_marks" class="form-control" min="0" />
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<label for="written_date" class="control-label">Written Exam Date</label>
								<input type="text" id="written_date" class="form-control" readonly />
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<label for="field_test_marks" class="control-label">Field Test Marks</label>
								<input type="number" id="field_test_marks" class="form-control" min="0" />
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<label for="field_test_date" class="control-label">Field Test Date</label>
								<input type="text" id="field_test_date" class="form-control" readonly />
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<label for="viva_marks" class="control-label">Viva Marks</label>
								<input type="number" id="viva_marks" class="form-control" min="0" />
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<label for="viva_date" class="control-label">Viva Date</label>
								<input type="text" id="viva_date" class="form-control" readonly />
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary submit_mark">Submit Marks</button>
					<button type="button" class="btn btn-secondary modal_close_button" data-dismiss="modal">Close</button>
				</div>
		  </div>
		</div>
	  </div>
	  

{% endblock %}

{% block script %}
	
	<script>
		
		function showMessage(message){
				$(".showMessage").css("animation","none");
				setTimeout(function(){
					$(".showMessage").html(message)
					.css("animation","animateMessage 6s forwards");
				},100);
		}
				
		$.fn.extend({
			filters: function (table) {
				var box = $(this);
				$(this).keyup(function () {
					var searchText = $.trim($(box).val()).toLowerCase();
					$(table + " tbody tr").each(function () {
						$(this).css("display", $(this).text().toLowerCase().indexOf(searchText) === -1 ? "none" : "");
					});
				});
				return $(this);
			}
		});
		
		var sliding = false;
		
		$(document).ready(function(){
		
			$('.nav-item[data-menu="failed-in-exam"]').addClass("active");
			$('.nav-item[data-slide="license-menu"]').show();
			var activated_data = $('.nav-item[data-menu="failed-in-exam"]').data("slide");
			$(".fa[data-icon='"+activated_data+"']").removeClass("fa-plus-circle").addClass("fa-minus-circle");
			
			$("#search_box").filters(".searcher_table");
			
			$("#for_datatable").DataTable({
			  paging:false,
			  searching:false,
			  responsive:true,
			  sorting:false,
			  bDestroy: true,
			  columnDefs: [
				{ responsivePriority: 1, targets: 0 },
				{ responsivePriority: 2, targets: -1 },
				]
			});
			
			$("#written_date, #field_test_date, #viva_date").datepicker({
				dateFormat: "yy-mm-dd",
				changeYear: true,
				changeMonth: true,
			}).datepicker("setDate", new Date());
			
			$(document).on("click", "#view_driver_image, #view_nid_image, #view_testimonial, #view_apply_form", function(){
				if(sliding){
					return;
				}
				sliding = true;
				var slided = $(this).data("slided");
				$(this).data("slided", !slided);
				if(slided){
					$(this).html("View");
					$(this).siblings("img").slideUp(400, function(){
						sliding = false;
					});
				}else{
					$(this).html("Hide");
					$(this).siblings("img").slideDown(500, function(){
						sliding = false;
					});
				}				
			});
						
			$(document).on("click", "#download_driver_image, #download_nid_image, #download_testimonial, #download_apply_form", function(){
				var image_source = $(this).data("source");
				window.open(image_source, '_blank').focus();
			});
			
			
			$(document).on("click", ".enter_mark_exam", function(){
				var learner_id = $(this).data("learner_id");
				var learner_info = $(this).data("learner_info");
				var license_number = $(this).data("license_number");
				$("#learner_id").val(learner_id);
				$("#written_marks, #field_test_marks, #viva_marks").val("");
				$(".modal-title-exam").html("Enter Exam Marks for <br/>"+learner_info+" (Learner License No. "+license_number+")");
				
			});
			
			
			$(document).on("click", ".submit_mark", function(){
				var learner_id = $.trim($("#learner_id").val());
				var written_marks = $.trim($("#written_marks").val());
				var written_date = $.trim($("#written_date").val());
				var field_test_marks = $.trim($("#field_test_marks").val());
				var field_test_date = $.trim($("#field_test_date").val());
				var viva_marks = $.trim($("#viva_marks").val());
				var viva_date = $.trim($("#viva_date").val());
				
				if(written_marks.length==0){
					showMessage("Please enter written marks");
					return;
				}
				if(field_test_marks.length==0){
					showMessage("Please enter field test marks");
					return;
				}
				if(viva_marks.length==0){
					showMessage("Please enter viva marks");
					return;
				}
								
				$.ajax({
					url:"{% url 'dashboard:submit-marks' %}",
					method:"POST",
					data:{learner_id:learner_id, written_marks:written_marks, written_date:written_date, field_test_marks:field_test_marks,
							field_test_date:field_test_date, viva_marks:viva_marks, viva_date:viva_date, csrfmiddlewaretoken:"{{csrf_token}}"},
					success:function(data){
						if(data.status==0){
							showMessage("Sorry, an error occured");
						}else if(data.status==3){
							showMessage("Sorry, this person is not ready for exam yet");
						}else if(data.status==4){
							showMessage("Please input minimum marks for exams");
						}else if(data.status==5){
							showMessage("This person has already passed the exam");
						}else if(data.status==1){
							showMessage("Exam marks have been saved successfully");
							$(".modal_close_button").trigger("click");
							if(data.has_passed){
								$('tr[data-learner_id="'+learner_id+'"]').remove();
							}							
						}
					},
					error:function(error){
						showMessage("Sorry, an error occured");
					}
				});
			});
			
			
			$(document).on("click", ".view_learner_button" , function(){
				var learner_id = $(this).data("learner_id");
				$(".modal-title-learner, .modal-body-learner").html("Loading...");
				$.ajax({
					url:"{% url 'dashboard:learner-details' %}",
					method:"GET",
					data:{learner_id:learner_id},
					success:function(data){
						$("#modal_content").html(data);
					},
					error:function(error){
						showMessage("Sorry, an error occured");
					}
				});			
			});
			
			$(document).on("click", ".view_exam_history" , function(){
				var learner_id = $(this).data("learner_id");
				$(".modal-title-learner, .modal-body-learner").html("Loading...");
				$.ajax({
					url:"{% url 'dashboard:learner-details' %}",
					method:"GET",
					data:{learner_id:learner_id, view_exam_history:true},
					success:function(data){
						$("#modal_content").html(data);
					},
					error:function(error){
						showMessage("Sorry, an error occured");
					}
				});			
			});
			
			
			$(document).on("click", ".view_exam_details", function(){
				if(sliding){
					return;
				}
				sliding = true;
				var slided = $(this).data("slided");
				$(this).data("slided", !slided);
				if(slided){
					$(this).html("View Details");
					$(this).siblings(".reverse_row").children(".col-lg-8").children(".mark_save_div").fadeOut(400);
					$(this).siblings(".mark_table_parent").slideUp(400, function(){
						sliding = false;
					});
				}else{
					$(this).html("Hide Details");
					$(this).siblings(".reverse_row").children(".col-lg-8").children(".mark_save_div").fadeIn(500);
					$(this).siblings(".mark_table_parent").slideDown(500, function(){
						sliding = false;
					});
				}				
			});
			
			
		});
		
	
	</script>
	
{% endblock %}