{% load own_filters %}

{% if an_application %}
		<div class="modal-header">
		  <h4 class="modal-title-learner menu_heading">
				{% if an_application.flag == 0 %}
					{{an_application.name}} Applied for Fitness Renewal
				{% elif an_application.flag == 1 %}
					Fitness Renewal Application by {{an_application.name}}<br/>
					has been assigned to {{an_application.inspected_by.first_name}} {{an_application.inspected_by.last_name}} for inspection
				{% elif an_application.flag == 2 %}
					Fitness Renewal Application by {{an_application.name}}<br/>
					has been approved by Inspector
				{% elif an_application.flag == 3 %}
					Fitness Certificate No. {{an_application.fitness_certificate_no}}<br/>
					has been Renewed
				{% endif %}
		  </h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body modal-body-learner">
			<div class="container-fluid">
				<div class="row">
						{% if an_application.flag >= 1 %}
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="approval_div">
									<i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{an_application.assigned_by.first_name}} {{an_application.assigned_by.last_name}}</span> assigned
									<span>{{an_application.inspected_by.first_name}} {{an_application.inspected_by.last_name}}</span> as the inspector<br/>
									<i class="fas fa-user" style="opacity:0;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
									on <span>{{an_application.assign_time}}</span>
								</div>
								<br/>
							</div>
						{% endif %}
						{% if an_application.flag >= 2 %}
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="approval_div">
									<i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp;Inspected by <span>{{an_application.inspected_by.first_name}} {{an_application.inspected_by.last_name}}</span> on {{an_application.inspection_date}}.<br/>
									<i class="fas fa-check" style="opacity:0;"></i>&nbsp;&nbsp;&nbsp;Inspection Details Saved on <span>{{an_application.inspection_time}}</span>
									<br/>
									{% if an_application.remarks %}
										<i class="fas fa-check" style="opacity:0;"></i>&nbsp;&nbsp;&nbsp;
										<button id="view_remarks" style="color:white !important;font-size:0.9em;display:inline-block;margin-top:16px;border:none;border-radius:3px;padding:4px 14px;background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;cursor:pointer;" data-slided="false">
											View Remarks
										</button>
										<div class="remarks_holder">
											{{an_application.remarks|linebreaks}}
										</div>										
									{% endif %}
								</div>
								<br/>
							</div>
						{% endif %}
						{% if an_application.flag == 3 %}
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="approval_div">
									<i class="fa fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;New Fitness License Issued by <span>{{an_application.approved_by.first_name}} {{an_application.approved_by.last_name}}</span><br/>
									<i class="fas fa-check-square-o" style="opacity:0;"></i>&nbsp;&nbsp;&nbsp;on <span>{{an_application.approve_time}}</span><br/>
								</div>
								<br/>
							</div>
						{% endif %}						
						<br/>
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="row shadow_div">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<p class="details_title">
										Fitness Renewal Application Details
									</p>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12">
									<p class="learner_point">Name :</p>
								</div>
								<div class="col-lg-8 col-md-12 col-sm-12">
									<p class="learner_description">
										{{ an_application.name }}
									</p>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12">
									<p class="learner_point">Contact No. :</p>
								</div>
								<div class="col-lg-8 col-md-12 col-sm-12">
									<p class="learner_description">
										{{ an_application.contact_no }}
									</p>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12">
									<p class="learner_point">Applied for<br/>Fitness Renewal on :</p>
								</div>
								<div class="col-lg-8 col-md-12 col-sm-12">
									<p class="learner_description">
										<br/>
										{{an_application.apply_time}}
									</p>
								</div>
								{% if an_application.flag >= 2 %}
									<div class="col-lg-4 col-md-12 col-sm-12">
										<p class="learner_point">Inspected on :</p>
									</div>
									<div class="col-lg-8 col-md-12 col-sm-12">
										<p class="learner_description">
											{{an_application.inspection_date}}
										</p>
									</div>
								{% endif %}
								{% if an_application.flag == 3 %}
									<div class="col-lg-4 col-md-12 col-sm-12">
										<p class="learner_point">Issued on :</p>
									</div>
									<div class="col-lg-8 col-md-12 col-sm-12">
										<p class="learner_description">
											{{an_application.approve_time}}
										</p>
									</div>
								{% endif %}
								<div class="col-lg-4 col-md-12 col-sm-12">
									<p class="learner_point">Vehicle Type :</p>
								</div>
								<div class="col-lg-8 col-md-12 col-sm-12">
									<p class="learner_description">
										{{an_application.vehicle_type.name}}
									</p>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12">
									<p class="learner_point">Registration No. :</p>
								</div>
								<div class="col-lg-8 col-md-12 col-sm-12">
									<p class="learner_description">
										{{an_application.registration_no}}
									</p>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12">
									<p class="learner_point">Fitness Certificate No. :</p>
								</div>
								<div class="col-lg-8 col-md-12 col-sm-12">
									<p class="learner_description">
										{{an_application.fitness_certificate_no}}
									</p>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<br/><br/>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="media_holder" style="margin:0px;">
										<p class="learner_point">Bank Receipt :</p>
										<br/>
										<button class="btn" id="view_nid_image" data-slided="false">View</button>
										&nbsp;&nbsp;&nbsp;
										<button class="btn" id="download_nid_image" data-source="{{main_server}}{{media_server}}{{an_application.bank_receipt}}">Download</button>
										<p class="extra_space"></p>
										<img id="nid_image" src="{{main_server}}{{media_server}}{{an_application.bank_receipt}}"/>
										<br/>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="media_holder">
										<p class="learner_point">
											{% if an_application.flag == 3 %}Previous{% else %}Current{% endif %} Fitness Certificate :
										</p>
										<br/>
										<button class="btn" id="view_testimonial" data-slided="false">View</button>
										&nbsp;&nbsp;&nbsp;
										<button class="btn" id="download_testimonial" data-source="{{main_server}}{{media_server}}{{an_application.fitness_certificate}}">Download</button>
										<p class="extra_space"></p>
										<img id="testimonial" src="{{main_server}}{{media_server}}{{an_application.fitness_certificate}}"/>
										<br/>
									</div>						
								</div>
								{% if an_application.flag == 0 %}
									<div class="col-lg-8 col-md-12 col-sm-12">
										<br/><br/>
										<label class="control-label" for="inspector">Assign for Inspection to</label>
										<select class="form-control" id="inspector" >
											<option value="">- Please Select an Inspector -</option>
											{% for an_inspector in inspectors %}
												<option value="{{an_inspector.user.id}}">{{an_inspector.user.first_name}} {{an_inspector.user.last_name}}</option>
											{% endfor %}
										</select>
									</div>
								{% endif %}
								{% if an_application.flag == 1 and  an_application.inspected_by == request.user and not assigned_to_menu %}
									<div class="col-lg-8 col-md-12 col-sm-12">
										<br/><br/>
										<label class="control-label" for="inspection_date">Inspected on</label>
										<input type="text" id="inspection_date" class="form-control" readonly />
									</div>
									<div class="col-lg-8 col-md-12 col-sm-12">
										<br/>
										<label class="control-label" for="remarks">Remarks</label>
										<textarea id="remarks" class="form-control" rows="6"></textarea>
									</div>
								{% endif %}
							</div>
						</div>						
				</div>
			</div>
		</div>

		<div class="modal-footer">
			{% if an_application.flag == 0 %}
				<button type="button" class="btn btn-secondary assign_button" data-fitness_id="{{an_application.id}}" data-fitness_name="{{an_application.name}}">Assign</button>
			{% endif %}
			{% if an_application.flag == 1 and  an_application.inspected_by == request.user and not assigned_to_menu %}
				<button type="button" class="btn btn-secondary inspector_button" data-fitness_id="{{an_application.id}}" data-fitness_name="{{an_application.name}}">Mark as Inspected</button>
			{% endif %}
			{% if an_application.flag == 2 and  request.user.is_superuser %}
				<button type="button" class="btn btn-secondary approve_button" data-fitness_id="{{an_application.id}}" data-registration_no="{{an_application.registration_no}}">
					Issue Fitness Certificate
				</button>
			{% endif %}
			<button type="button" class="btn btn-secondary modal_close_button" data-dismiss="modal">Close</button>
		</div>
{% endif %}