{% load own_filters %}

{% if an_application %}
		<div class="modal-header">
		  <h4 class="modal-title-learner menu_heading">
			{% if view_exam_history %}
				Driving License Exam History for<br/>
				{{an_application.name}} (Learner License Number : {{an_application.license_number}})
			{% else %}
				{% if an_application.flag == 0 %}
					Application for Learner License by {{an_application.name}}
				{% elif an_application.flag == 1 %}
					{{an_application.name}} Approved for Learner License<br/>
					Learner License Number : {{an_application.license_number}}
				{% elif an_application.flag == 2 %}
					{{an_application.name}} Marked as Ready for Exam<br/>
					Learner License Number : {{an_application.license_number}}
				{% elif an_application.flag == 3 or an_application.flag == 4 %}
					{{an_application.name}} (Learner License Number : {{an_application.license_number}})<br/>
					Appeared in Driving License Exam
				{% elif an_application.flag == 5 %}
					{{an_application.name}} (Learner License Number : {{an_application.license_number}})<br/>
					Applied for Driving License
				{% elif an_application.flag == 6 %}
					Driving License Issued to {{an_application.name}}<br/>
					(Driver License Number : {{an_application.driving_license_learner_app.first.license_no}})
				{% endif %}
			{% endif %}
		  </h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body modal-body-learner">
			<div class="container-fluid">
				<div class="row">
					{% if view_exam_history %}
						{% if an_application.flag >= 3 %}			
							{% for exam_mark in an_application.exam_marks.all|sort_by_ascending %}
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="approval_div">
										<i class="fa fa-id-card-o"></i>
										&nbsp;
										Appeared in Driving License Exam<br/>
										<table class="table table-hover marks_table">
											<tr>											
												<td>
													<span class="exam_span">Written Exam Date : </span>
												</td>
												<td>
													<span class="mark_span">{{exam_mark.written_exam_date}}</span>
												</td>
												<td>
													<span class="exam_span">Written Marks : </span>
												</td>
												<td>
													<span class="mark_span">{{exam_mark.written_marks}}</span>
												</td>
											</tr>
											<tr>											
												<td>
													<span class="exam_span">Field Test Date : </span>
												</td>
												<td>
													<span class="mark_span">{{exam_mark.field_test_date}}</span>
												</td>
												<td>
													<span class="exam_span">Field Test Marks : </span>
												</td>
												<td>
													<span class="mark_span">{{exam_mark.field_test_marks}}</span>
												</td>
											</tr>
											<tr>											
												<td>
													<span class="exam_span">Viva Date : </span>
												</td>
												<td>
													<span class="mark_span">{{exam_mark.viva_exam_date}}</span>
												</td>
												<td>
													<span class="exam_span">Viva Marks : </span>
												</td>
												<td>
													<span class="mark_span">{{exam_mark.viva_marks}}</span>
												</td>
											</tr>
										</table>
										<br/>										
										<div class="row reverse_row">
											<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
												<div class="mark_save_div">
													Marks Saved by <span>{{exam_mark.entry_by.first_name}} {{exam_mark.entry_by.last_name}}</span><br/>
													on <span>{{exam_mark.entry_time}}</span>
												</div>						
											</div>
											<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
												<span>
													&nbsp;&nbsp;&nbsp;Status :
												</span>
												{% if exam_mark.has_passed %}
													<span class="exam_passed">
														Passed
													</span>		
												{% else %}
													<span class="exam_failed">
														Failed
													</span>
												{% endif %}
												{% if exam_mark.has_passed %}
													<i class="fa fa-check-square-o"></i>
												{% else %}
													<i class="fa fa-times"></i>
												{% endif %}
											</div>											
										</div>										
									</div>
									<br/>
								</div>
							{% endfor %}						
						{% endif %}
					{% else %}
						{% if an_application.flag >= 1 %}
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="approval_div">
									<i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;Approved by <span>{{an_application.approved_by.first_name}} {{an_application.approved_by.last_name}}</span> on <span>{{an_application.approve_time}}</span>
									<p class="extra_space_2"></p>
									<i class="fa fa-check-square-o" style="opacity:0;"></i>&nbsp;&nbsp;&nbsp;<span>Learner License No. :</span> &nbsp;&nbsp;{{an_application.license_number}}
								</div>
								<br/>
							</div>
						{% endif %}
						{% if an_application.flag >= 2 %}
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="approval_div">
									<i class="fas fa-id-badge"></i>&nbsp;&nbsp;&nbsp;Marked as Ready for Exam by <span>{{an_application.marked_ready_by.first_name}} {{an_application.marked_ready_by.last_name}}</span> on <span>{{an_application.ready_time}}</span>
								</div>
								<br/>
							</div>
						{% endif %}
						{% if an_application.flag >= 3 %}			
							{% for exam_mark in an_application.exam_marks.all|sort_by_ascending %}
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="approval_div">										
										<span class="appeared_title">
											<i class="fa fa-id-card-o"></i>
											&nbsp;
											Appeared in Driving License Exam
											&nbsp;&nbsp;
										</span>
										<button class="btn view_exam_details" data-slided="false">
											View Details
										</button>
										<div class="mark_table_parent">
											<p class="exam_para"></p>
											<table class="table table-hover marks_table">
												<tr>											
													<td>
														<span class="exam_span">Written Exam Date : </span>
													</td>
													<td>
														<span class="mark_span">{{exam_mark.written_exam_date}}</span>
													</td>
													<td>
														<span class="exam_span">Written Marks : </span>
													</td>
													<td>
														<span class="mark_span">{{exam_mark.written_marks}}</span>
													</td>
												</tr>
												<tr>											
													<td>
														<span class="exam_span">Field Test Date : </span>
													</td>
													<td>
														<span class="mark_span">{{exam_mark.field_test_date}}</span>
													</td>
													<td>
														<span class="exam_span">Field Test Marks : </span>
													</td>
													<td>
														<span class="mark_span">{{exam_mark.field_test_marks}}</span>
													</td>
												</tr>
												<tr>											
													<td>
														<span class="exam_span">Viva Date : </span>
													</td>
													<td>
														<span class="mark_span">{{exam_mark.viva_exam_date}}</span>
													</td>
													<td>
														<span class="exam_span">Viva Marks : </span>
													</td>
													<td>
														<span class="mark_span">{{exam_mark.viva_marks}}</span>
													</td>
												</tr>
											</table>
										</div>
										<br/>
										<div class="row reverse_row">
											<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
												<div class="mark_save_div dont_show_mark_save">
													Marks Saved by <span>{{exam_mark.entry_by.first_name}} {{exam_mark.entry_by.last_name}}</span><br/>
													on <span>{{exam_mark.entry_time}}</span>
												</div>						
											</div>
											<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
												<i class="fa fa-id-card-o" style="opacity:0;"></i>
												<span>
													&nbsp;&nbsp;&nbsp;Status :
												</span>
												{% if exam_mark.has_passed %}
													<span class="exam_passed">
														Passed
													</span>		
												{% else %}
													<span class="exam_failed">
														Failed
													</span>
												{% endif %}
												{% if exam_mark.has_passed %}
													<i class="fa fa-check-square-o"></i>
												{% else %}
													<i class="fa fa-times"></i>
												{% endif %}
											</div>											
										</div>	
									</div>
									<br/>
								</div>
							{% endfor %}						
						{% endif %}
						{% if an_application.flag >= 5 %}
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="approval_div">
									<i class="fa fa-address-card"></i>&nbsp;&nbsp;&nbsp;Applied for Driving License Exam on
									<span>{{an_application.driving_license_learner_app.first.apply_time}}</span>
								</div>
								<br/>
							</div>
						{% endif %}
						{% if an_application.flag == 6 %}
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="approval_div">
									<i class="fa fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;Driving License Issued by <span>{{driving_application.approved_by.first_name}} {{driving_application.approved_by.last_name }}</span>
									<br/><i class="fa fa-check-square-o" style="opacity:0;"></i>&nbsp;&nbsp;&nbsp;on {{driving_application.approve_time}}
									<p class="extra_space_2"></p>
									<i class="fa fa-check-square-o" style="opacity:0;"></i>&nbsp;&nbsp;&nbsp;<span>Driving License No. :</span> &nbsp;&nbsp;{{driving_application.license_no}}
								</div>
								<br/>
							</div>
						{% endif %}
						<br/>
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="row shadow_div">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<p class="details_title">
										Learner Application Details
									</p>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12">
									<p class="learner_point">Name :</p>
								</div>
								<div class="col-lg-8 col-md-12 col-sm-12">
									<p class="learner_description">
										{{ an_application.name }}
									</p>
								</div>											
								<div class="col-lg-4 col-md-12 col-sm-12">
									<p class="learner_point">National ID No. :</p>
								</div>
								<div class="col-lg-8 col-md-12 col-sm-12">
									<p class="learner_description">
										{{ an_application.national_id }}
									</p>
								</div>
								{% if an_application.flag >= 1 %}
									<div class="col-lg-4 col-md-12 col-sm-12">
										<p class="learner_point">Learner License No. :</p>
									</div>
									<div class="col-lg-8 col-md-12 col-sm-12">
										<p class="learner_description">
											{{ an_application.license_number }}
										</p>
									</div>
								{% endif %}
								<div class="col-lg-4 col-md-12 col-sm-12">
									<p class="learner_point">Contact No. :</p>
								</div>
								<div class="col-lg-8 col-md-12 col-sm-12">
									<p class="learner_description">
										{{ an_application.contact_no }}
									</p>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12">
									<p class="learner_point">Applied for<br/>Learner License on :</p>
								</div>
								<div class="col-lg-8 col-md-12 col-sm-12">
									<p class="learner_description">
										<br/>
										{{an_application.apply_time}}
									</p>
								</div>
								{% if an_application.present_address %}
									<div class="col-lg-12 col-md-12 col-sm-12">
										<p class="learner_point">Present Address :</p>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<p class="learner_description">
											{{an_application.present_address}}
										</p>
									</div>
								{% endif %}
								{% if an_application.permanent_address %}
									<div class="col-lg-12 col-md-12 col-sm-12">
										<p class="learner_point">Permanent Address :</p>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<p class="learner_description">
											{{an_application.permanent_address}}
										</p>
									</div>
								{% endif %}
								<div class="col-lg-12 col-md-12 col-sm-12">
									<br/><br/>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="media_holder" style="margin:0px;">
										<p class="learner_point">Person Image :</p>
										<br/>
										<button class="btn" id="view_driver_image" data-slided="false">View</button>
										&nbsp;&nbsp;&nbsp;
										<button class="btn" id="download_driver_image" data-source="{{main_server}}{{media_server}}{{an_application.driver_image}}">Download</button>
										<p class="extra_space"></p>
										<img id="driver_image" src="{{main_server}}{{media_server}}{{an_application.driver_image}}"/>
										<br/>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="media_holder" style="margin:0px;">
										<p class="learner_point">NID Image :</p>
										<br/>
										<button class="btn" id="view_nid_image" data-slided="false">View</button>
										&nbsp;&nbsp;&nbsp;
										<button class="btn" id="download_nid_image" data-source="{{main_server}}{{media_server}}{{an_application.nid_image}}">Download</button>
										<p class="extra_space"></p>
										<img id="nid_image" src="{{main_server}}{{media_server}}{{an_application.nid_image}}"/>
										<br/>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="media_holder">
										<p class="learner_point">Testimonial Image :</p>
										<br/>
										<button class="btn" id="view_testimonial" data-slided="false">View</button>
										&nbsp;&nbsp;&nbsp;
										<button class="btn" id="download_testimonial" data-source="{{main_server}}{{media_server}}{{an_application.testimonial}}">Download</button>
										<p class="extra_space"></p>
										<img id="testimonial" src="{{main_server}}{{media_server}}{{an_application.testimonial}}"/>
										<br/>
									</div>						
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="media_holder">
										<p class="learner_point">Application Form :</p>
										<br/>
										<button class="btn" id="view_apply_form" data-slided="false">View</button>
										&nbsp;&nbsp;&nbsp;
										<button class="btn" id="download_apply_form" data-source="{{main_server}}{{media_server}}{{an_application.apply_form}}">Download</button>
										<p class="extra_space"></p>
										<img id="apply_form" src="{{main_server}}{{media_server}}{{an_application.apply_form}}"/>
										<br/>
									</div>						
								</div>
							</div>
						</div>
						{% if an_application.flag >= 5 %}
							<div class="col-lg-12 col-md-12 col-sm-12">
								<p class="extra_space_2"></p>
								<p class="extra_space_2"></p>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="row shadow_div">						
									<div class="col-lg-12 col-md-12 col-sm-12">
										<p class="details_title">
											Driving License Application Details
										</p>
									</div>
									<div class="col-lg-4 col-md-12 col-sm-12">
										<p class="learner_point">Applied for<br/>Driving License on :</p>
									</div>
									<div class="col-lg-8 col-md-12 col-sm-12">
										<p class="learner_description">
											<br/>
											{{driving_application.apply_time}}
										</p>
									</div>									
									{% if an_application.flag == 6 %}
										<div class="col-lg-4 col-md-12 col-sm-12">
												<p class="learner_point">Driving License No.:</p>
										</div>
										<div class="col-lg-8 col-md-12 col-sm-12">
											<p class="learner_description">
												{{driving_application.license_no}}
											</p>
										</div>
										<div class="col-lg-4 col-md-12 col-sm-12">
												<p class="learner_point">Driving License Process :</p>
										</div>
										<div class="col-lg-8 col-md-12 col-sm-12">
											<div class="learner_description">
												Issued by <b>{{driving_application.approved_by.first_name}} {{driving_application.approved_by.last_name }}</b><br/>
												on {{driving_application.approve_time}}
											</div>
										</div>
									{% endif %}
									
									<div class="col-lg-12 col-md-12 col-sm-12">
										<br/><br/>
									</div>
									{% if driving_application.driver_image %}
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="media_holder" style="margin:0px;">
												<p class="learner_point">Image of the Person :</p>
												<br/>
												<button class="btn" id="view_driver_image" data-slided="false">View</button>
												&nbsp;&nbsp;&nbsp;
												<button class="btn" id="download_driver_image" data-source="{{main_server}}{{media_server}}{{driving_application.driver_image}}">Download</button>
												<p class="extra_space"></p>
												<img id="driver_image" src="{{main_server}}{{media_server}}{{driving_application.driver_image}}"/>
												<br/>
											</div>
										</div>
									{% endif %}
									{% if driving_application.driver_signature %}
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="media_holder">
												<p class="learner_point">Signature of the Person :</p>
												<br/>
												<button class="btn" id="view_driver_signature" data-slided="false">View</button>
												&nbsp;&nbsp;&nbsp;
												<button class="btn" id="download_driver_signature" data-source="{{main_server}}{{media_server}}{{driving_application.driver_signature}}">Download</button>
												<p class="extra_space"></p>
												<img id="driver_signature" src="{{main_server}}{{media_server}}{{driving_application.driver_signature}}"/>
												<br/>
											</div>
										</div>
									{% endif %}
									{% if driving_application.apply_form %}
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="media_holder">
												<p class="learner_point">Application Form :</p>
												<br/>
												<button class="btn" id="view_driving_application_form" data-slided="false">View</button>
												&nbsp;&nbsp;&nbsp;
												<button class="btn" id="download_driving_application_form" data-source="{{main_server}}{{media_server}}{{driving_application.apply_form}}">Download</button>
												<p class="extra_space"></p>
												<img id="driving_application_form" src="{{main_server}}{{media_server}}{{driving_application.apply_form}}"/>
												<br/>
											</div>
										</div>
									{% endif %}
									{% if driving_application.learner_license %}
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="media_holder">
												<p class="learner_point">Learner License :</p>
												<br/>
												<button class="btn" id="view_lear_license_form" data-slided="false">View</button>
												&nbsp;&nbsp;&nbsp;
												<button class="btn" id="download_learner_license" data-source="{{main_server}}{{media_server}}{{driving_application.learner_license}}">Download</button>
												<p class="extra_space"></p>
												<img id="learner_license_form" src="{{main_server}}{{media_server}}{{driving_application.learner_license}}"/>
												<br/>
											</div>
										</div>
									{% endif %}
									
								</div>
							</div>
						{% endif %}
					{% endif %}
										
				</div>
			</div>
		</div>

		<div class="modal-footer">
			{% if an_application.flag == 0 %}
				<button type="button" class="btn btn-secondary learner_approve_button" data-learner_id="{{an_application.id}}" data-learner_name="{{an_application.name}}">Approve</button>
				&nbsp;&nbsp;&nbsp;
			{% elif an_application.flag == 1 %}
				<button type="button" class="btn btn-secondary mark_ready_button" data-learner_id="{{an_application.id}}" data-learner_name="{{an_application.name}}">Mark as Ready for Exam</button>
				&nbsp;&nbsp;&nbsp;
			{% endif %}			
			<button type="button" class="btn btn-secondary modal_close_button" data-dismiss="modal">Close</button>
		</div>
{% endif %}