{% extends "dashboard/dashboard.html" %}

{% block title %}
	Minimum Marks Setup
{% endblock %}

{% block style%}

	<style>
	
		.view_learner_button, .submit_button{
			color:white;
			font-size:0.9em;
			background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
			padding:4px 16px;
		}
		
		.submit_button{
			font-size:1.1em;
		}
		
		.modal-title{
			font-size:1.8em;
		}
		
		.learner_point, .learner_description{
			margin:0px;			
			padding:0px;
		}
		
		.learner_point{
			font-size:1.2em;
			font-weight:bold;
			margin-top:6px;
		}
		
		.learner_description{
			font-size:1.14em;
		}
		
		.learner_approve_button, .learner_approve_button:hover, .learner_approve_button:focus{
			color:white;
			background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
		}
		
		.modal_close_button, .modal_close_button:hover, .modal_close_button:focus{
			color:rgb(35,112,169);
			background:linear-gradient(to bottom, rgb(232,160,108), rgb(221,37,11)) !important;
			background:linear-gradient(to bottom, rgb(255,255,255), rgb(204,226,244)) !important;
		}
		
		table.dataTable{
			margin-top:0px !important;
		}
		
		table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
			table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after,
				table.dataTable thead .sorting_desc_disabled:after,
		table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
			table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before,
				table.dataTable thead .sorting_desc_disabled:before{
					content:"";
		}
		
		#for_datatable_info{
			opacity:0;
		}
		
		#for_datatable_wrapper .row{
			width:100% !important;
		}
		
		#for_datatable_wrapper .row, #for_datatable_wrapper .col-sm-12{
			margin:0px;
			padding:0px;
		}
		
		.searcher_table{
			width:100%;
		}
		
		.media_holder{
			margin-top:20px;
			padding:8px 15px 0px 15px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
				
		#view_nid_image, #view_testimonial, #view_apply_form,
			#download_nid_image, #download_testimonial, #download_apply_form{
				color:white;
				background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
		}
		
		.extra_space{
			height:2px;
			margin:0px;
			padding:0px;
		}
		
		#nid_image, #testimonial, #apply_form{
			width:60%;
			margin-top:10px;
			margin-bottom:12px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
			border-radius:4px;
			display:none;			
		}
		
		.list_container{
			width:96%;
			height:auto;
			margin-left:2%;
			padding:14px;
			padding-bottom:40px;
		}
		
		
		.control-label{
			font-size:1.18em !important;
			margin-top:20px;
		}
		
		.form-control{
			font-size:1.05em !important;
			margin-top:4px;
		}
		
		
		
		/*
			screen media
		*/
		
		@media only screen and (max-width: 1023px) {
			.list_container{
				width:98%;
				margin-left:1%;
				padding:8px;
			}
		}		
		
		@media only screen and (max-width: 992px) {
			.media_holder{
				padding:6px;
			}
			#nid_image, #testimonial, #apply_form{
				width:100%;
			}
		}
		
	</style>
	
{% endblock %}

{% block maincontent %}
	<div class="list_div">
		<div class="title_holder">						
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h1 class="menu_heading">Minimum Marks Setup</h1>
				</div>
			</div>
			<br/>
		</div>
		<div class="list_container">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<input id="learner_id" style="display:none;"/>
						<label for="written_marks" class="control-label">Written Marks</label>
						<input type="number" id="written_marks" class="form-control" min="0" value="{{minimum_marks.written_marks}}" />
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<label for="field_test_marks" class="control-label">Field Test Marks</label>
						<input type="number" id="field_test_marks" class="form-control" min="0" value="{{minimum_marks.field_test_marks}}" />
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<label for="viva_marks" class="control-label">Viva Marks</label>
						<input type="number" id="viva_marks" class="form-control" min="0" value="{{minimum_marks.viva_marks}}" />
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
						<br/>
						<button class="btn submit_button">
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	

{% endblock %}

{% block script %}
	
	<script>
		
		function showMessage(message){
				$(".showMessage").css("animation","none");
				setTimeout(function(){
					$(".showMessage").html(message)
					.css("animation","animateMessage 6s forwards");
				},100);
		}
				
		$.fn.extend({
			filters: function (table) {
				var box = $(this);
				$(this).keyup(function () {
					var searchText = $.trim($(box).val()).toLowerCase();
					$(table + " tbody tr").each(function () {
						$(this).css("display", $(this).text().toLowerCase().indexOf(searchText) === -1 ? "none" : "");
					});
				});
				return $(this);
			}
		});
		
		var sliding = false;
		
		$(document).ready(function(){
		
			$('.nav-item[data-menu="mark-setup"]').addClass("active");
			$('.nav-item[data-slide="setup-menu"]').show();
			var activated_data = $('.nav-item[data-menu="mark-setup"]').data("slide");
			$(".fa[data-icon='"+activated_data+"']").removeClass("fa-plus-circle").addClass("fa-minus-circle");
						
			$(document).on("click", ".submit_button" , function(){
				var written_marks = $.trim($("#written_marks").val());
				var field_test_marks = $.trim($("#field_test_marks").val());
				var viva_marks = $.trim($("#viva_marks").val());
				
				if(written_marks.length==0){
					showMessage("Please enter written marks");
					return;
				}
				if(field_test_marks.length==0){
					showMessage("Please enter field test marks");
					return;
				}
				if(viva_marks.length==0){
					showMessage("Please enter viva marks");
					return;
				}
				
				$.ajax({
					url:"{% url 'dashboard:mark-setup' %}",
					method:"POST",
					data:{learner_id:learner_id},
					data:{written_marks:written_marks,field_test_marks:field_test_marks, viva_marks:viva_marks, csrfmiddlewaretoken:"{{csrf_token}}"},
					success:function(data){
						if(data.status==1){
							showMessage("Minimum marks for the exams have been updated successfully");
						}else{
							showMessage("Sorry, an error occured");
						}
					},
					error:function(error){
						showMessage("Sorry, an error occured");
					}
				})
				
			});
					
		});
		
	
	</script>
	
{% endblock %}