{% extends "dashboard/dashboard.html" %}

{% block title %}
	Vehicle Setup
{% endblock %}

{% block style %}

<style>
			
			.view_learner_button, .submit_button{
			color:white;
			font-size:0.9em;
			background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
			padding:4px 16px;
		}
		
		.submit_button{
			font-size:1.1em;
		}
		
		.modal-title{
			font-size:1.8em;
		}
		
		#writer_id{
			display:none;
		}
		
		.learner_point, .learner_description{
			margin:0px;			
			padding:0px;
		}
		
		.learner_point{
			font-size:1.2em;
			font-weight:bold;
			margin-top:6px;
		}
		
		.learner_description{
			font-size:1.14em;
		}
		
		.learner_approve_button, .learner_approve_button:hover, .learner_approve_button:focus{
			color:white;
			background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
		}
		
		.modal_close_button, .modal_close_button:hover, .modal_close_button:focus{
			color:rgb(35,112,169);
			background:linear-gradient(to bottom, rgb(232,160,108), rgb(221,37,11)) !important;
			background:linear-gradient(to bottom, rgb(255,255,255), rgb(204,226,244)) !important;
		}
		
		table.dataTable{
			margin-top:0px !important;
		}
		
		table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
			table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after,
				table.dataTable thead .sorting_desc_disabled:after,
		table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
			table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before,
				table.dataTable thead .sorting_desc_disabled:before{
					content:"";
		}
		
		#for_datatable_info{
			opacity:0;
		}
		
		#for_datatable_wrapper .row{
			width:100% !important;
		}
		
		#for_datatable_wrapper .row, #for_datatable_wrapper .col-sm-12{
			margin:0px;
			padding:0px;
		}
		
		.searcher_table{
			width:100%;
		}
		
		.media_holder{
			margin-top:20px;
			padding:8px 15px 0px 15px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
		}
				
		#view_nid_image, #view_testimonial, #view_apply_form,
			#download_nid_image, #download_testimonial, #download_apply_form{
				color:white;
				background:linear-gradient(to right, rgb(39,175,190), rgb(39,98,143)) !important;
		}
		
		.extra_space{
			height:2px;
			margin:0px;
			padding:0px;
		}
		
		#nid_image, #testimonial, #apply_form{
			width:60%;
			margin-top:10px;
			margin-bottom:12px;
			box-shadow:0px 2px 6px 0px rgb(172,210,238);
			border-radius:4px;
			display:none;			
		}
		
		.list_container{
			width:96%;
			height:auto;
			margin-left:2%;
			padding:14px;
			padding-bottom:40px;
		}
		
		
		.control-label{
			font-size:1.18em !important;
			margin-top:20px;
		}
		
		.form-control{
			font-size:1.05em !important;
			margin-top:4px;
		}
		
		.list_container{
			padding:0px;
			min-height:55vh;
		}
		
		/*
			screen media
		*/
		
		@media only screen and (max-width: 1023px) {
			.list_container{
				width:98%;
				margin-left:1%;
				padding:8px;
			}
		}		
		
		@media only screen and (max-width: 992px) {
			.media_holder{
				padding:6px;
			}
			#nid_image, #testimonial, #apply_form{
				width:100%;
			}
		}
			
		/*
			screen
		*/
		
	</style>
	
{% endblock %}

{% block maincontent %}
	
	<div class="list_div">
					<div class="title_holder">
						<div class="container-fluid">					
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<h1 class="menu_heading">Vehicle Types</h1>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="text-right">
										<button class="btn add_category">
											Add Vehicle Type
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container-fluid">					
						<div class="row">
							<div class="col-lg-2 col-md-1 col-sm-12"></div>
							<div class="col-lg-8 col-md-10 col-sm-12">
								<input type="text" id="search_box" class="form-control" placeholder="search here..."/>
								<div class="list_container">
									<table class="table table-hover table-striped category_table searcher_table">
										<thead>
											<tr>
												<th>
													Vehicle Type
												</th>
												<th>
													Actions
												</th>
											</tr>
										</thead>
										<tbody>
											{% for vehicle_type in vehicle_types %}
												<tr data-id="{{vehicle_type.id}}" data-writer_name="{{vehicle_type.name}}">
													<td>{{vehicle_type.name}}</td>
													<td>
														<i class="fas fa-edit" data-id="{{vehicle_type.id}}" data-writer_name="{{vehicle_type.name}}">
														</i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" data-id="{{vehicle_type.id}}" data-writer_name="{{vehicle_type.name}}"></i>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>								
							</div>
						</div>
					</div>
				</div>
				<div class="save_div">
					<div class="title_holder">
						<h1 class="menu_heading add_heading">Add Vehicle Type</h1>
						<div class="text-right">
							<button class="btn view_list">
								View Vehicle Types
							</button>
						</div>
						<br/><br/>
					</div>
					<div class="container-fluid">					
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12"></div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="common_div">
										<p class="top_line"></p>
										<label class="form-label" for="writer_name">Vehicle Type</label>
										<p class="extra_space">&nbsp;</p>
										<input type="text" id="writer_id" />
										<div class="form_holder">
											<input type="text" class="form-control" id="writer_name"/>
											<p class="bottom_line"></p>
										</div>
										<br/><br/>
										<div class="text-right">
											<button class="btn btn-primary save_button">Save</button>&nbsp;&nbsp;
											<button class="btn btn-success update_button" disabled>Update</button>&nbsp;&nbsp;
											<button class="btn btn-warning reset_button">Reset</button>
										</div>
								</div>

							</div>
						</div>
					</div>
				</div>
{% endblock %}

{% block script %}	

	<script>
		
		function showMessage(message){
				$(".showMessage").css("animation","none");
				setTimeout(function(){
					$(".showMessage").html(message)
					.css("animation","animateMessage 6s forwards");
				},100);
		}
		
		function resetFields(){
			$("#writer_id").val("");
			$("#writer_name").val("");
			$(".save_button").removeAttr("disabled");
			$(".update_button").attr("disabled","");
			$(".add_heading").html("Add Vehicle");
		}
		
		$(window).resize(function(){
			$(".heading_table").css({
				"width":$(".list_container").width()-5,
				"top":$(".list_container").offset().top
			});
		});
		
		$.fn.extend({
			filters: function (table) {
				var box = $(this);
				$(this).keyup(function () {
					var searchText = $.trim($(box).val()).toLowerCase();
					$(table + " tbody tr").each(function () {
						$(this).css("display", $(this).text().toLowerCase().indexOf(searchText) === -1 ? "none" : "");
					});
				});
				return $(this);
			}
		});
		
		$(document).ready(function(){
			
			$('.nav-item[data-menu="vehicle-type"]').addClass("active");
			$('.nav-item[data-slide="setup-menu"]').show();
			var activated_data = $('.nav-item[data-menu="vehicle-type"]').data("slide");
			$(".fa[data-icon='"+activated_data+"']").removeClass("fa-plus-circle").addClass("fa-minus-circle");
			
			$("#search_box").filters(".searcher_table");
			
			$(".heading_table").css({
				"width":$(".list_container").width()-5,
				"top":$(".list_container").offset().top
			});
			
			$(".add_category").click(function(){
				resetFields();
				$(".list_div").slideUp(400);
				$(".save_div").slideDown(600);
			});
			
			$(".view_list").click(function(){
				resetFields();
				$(".save_div").slideUp(400);
				$(".list_div").slideDown(600);
			});
			
			
			$(document).on('click', '.fa-edit', function(){
				var writer_id = $(this).attr("data-id");
				var writer_name = $(this).attr("data-writer_name");
				
				$("#writer_id").val(writer_id);
				$("#writer_name").val(writer_name);
				$(".update_button").removeAttr("disabled");
				$(".save_button").attr("disabled","");
				$(".add_heading").html("Update Vehicle");
				$(".list_div").slideUp(400);
				$(".save_div").slideDown(600);
			});
				
			
			$(".save_button").click(function(){
				var writer_name = $.trim($("#writer_name").val());
				if(writer_name.length==0){
					showMessage("Please write a Vehicle Type");
					return;
				}
				$.ajax({
					url:"{% url 'dashboard:vehicle-type' %}",
					method:"POST",
					data:{vehicle_type:writer_name,action:"save",'csrfmiddlewaretoken': "{{csrf_token}}"},
					success:function(data){
						if(parseInt(data.message)==2){
							showMessage("Please write a Vehicle Type");
						}else if(parseInt(data.message)==3){
							showMessage("There is already a vehicle type with this name");
						}else if(parseInt(data.message)==1){
							showMessage("Vehicle Type has been saved successfully");
							var new_row = '<tr data-id="'+data.id+'" data-writer_name="'+writer_name+'">'
							+'<td>'+writer_name+'</td><td><i class="fas fa-edit" data-id="'+data.id+'" '
							+'data-writer_name="'+writer_name+'"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" data-id="'+data.id+'" '
							+'data-writer_name="'+writer_name+'"></i></td></tr>';
							$(".category_table").children("tbody").prepend(new_row);
							resetFields();
						}else{
							showMessage("Sorry, an error occured");
						}
					},
					error:function(data){
							showMessage("Sorry, an error ocured");
					}
				});				
			});
			
			$(".update_button").click(function(){
				var writer_id = $.trim($("#writer_id").val());
				var writer_name = $.trim($("#writer_name").val());
				if(writer_name.length==0){
					showMessage("Please write a Vehicle Type");
					return;
				}
				
				$.ajax({					
					url:"{% url 'dashboard:vehicle-type' %}",
					method:"POST",
					data:{vehicle_type_id:writer_id,vehicle_type:writer_name,action:"update",'csrfmiddlewaretoken': "{{csrf_token}}"},
					success:function(data){
						if(parseInt(data.message)==1){
							showMessage("Vehicle Type has been updated successfully");

							$('.category_table tbody tr[data-id="'+writer_id+'"]').attr("data-writer_name", writer_name);
							$('.fa-edit[data-id="'+writer_id+'"]').attr("data-writer_name", writer_name);
							$('.fa-trash[data-id="'+writer_id+'"]').attr("data-writer_name", writer_name);
							$('.category_table tbody tr[data-id="'+writer_id+'"] td').eq(0).html(writer_name);
							
							resetFields();
						}else if(parseInt(data.message)==3){
							showMessage("There is already a Vehicle Type with this name");
						}else if(parseInt(data.message)==2){
							showMessage("Please write a Vehicle Type");
						}else{
							showMessage("Sorry, an error occured");
						}
					},
					error:function(data){
							showMessage("Sorry, an error ocured");
					}
				});
			});
			
			$(document).on('click', '.fa-trash', function(){
				var writer_id = $(this).attr("data-id");
				var writer_name = $(this).attr("data-writer_name");
				
				$.confirm({
					title: 'Delete Vehicle Type?',
					content: 'Do you want delete Vehicle Type <b>'+writer_name+'</b>?',
					theme:'material',
					buttons: {
						confirm:{
							text: 'Yes',
							btnClass: 'btn-danger',
							keys: ['enter'],
							action: function(){
								$.ajax({					
									url:"{% url 'dashboard:vehicle-type' %}",
									method:"POST",
									data:{vehicle_type_id:writer_id,action:"delete",'csrfmiddlewaretoken': "{{csrf_token}}"},
									success:function(data){
										if(parseInt(data.message)==1){
											showMessage("Vehicle <b>"+writer_name+"</b> has been deleted successfully");
											$('.category_table tbody tr[data-id="'+writer_id+'"]').fadeOut(500, function(){
												$(this).remove();
											});
											resetFields();
										}else{
											showMessage("Sorry, an error occured");
										}
									},
									error:function(data){
											showMessage("Sorry, an error ocured");
									}
								});
							}
						},
						cancel: {
							text: 'No',
							btnClass: 'btn-no',
							keys: ['esc'],
							action: function(){
							}
						}
					}
				});
			});
			
			$(".reset_button").click(function(){
				resetFields();
			});
		
		});
		
	
	</script>

{% endblock %}